// Agnolotti 
// Antebox Business Templates

// Colour variables
// Colour variables
$colour1: #591528;
$colour2: #EBB300;
$colour3: #2A4700;
$colour4: #D1D6A4;
$colour5: #C72903;

$dg-gray:	rgb(90,90,90);

// Fonts
$headings-font:	'Abril Fatface';


.header {
	background-color: #fff;
	height: auto;
	width: 100%;
	box-shadow: none;

	@media(max-width: $grid-float-breakpoint-max){
		margin-top: -20px;
		padding-top: 15px;
	}
	@media(min-width: $grid-float-breakpoint-max){
		padding-top: 25px;
		margin-top: -20px;
		z-index: 1;
		&.fixed {
			margin-top: 0px;
		}
	}
	display: block;
	position: relative;

	&.fixed {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 99;
		margin-top: 0px;
	}

	.brand-name {
		font-family: 'Abril Fatface' !important;
		font-size: 3em;
		@media(min-width: $grid-float-breakpoint-max){
			font-size: 3.8em;
		}
		color: $colour1 !important;
		text-transform: none !important;
		letter-spacing: 0px;
		margin-top: 0px;
		border-bottom: 1px solid rgba(black, 0.1);
		// display: inline-block;
	}

	.sub-title {
		font-family: 'Josefin Sans' !important;
		color: $colour2;
		letter-spacing: 5px;
		text-transform: uppercase;
		font-size: 1em;
		@media(max-width: $grid-float-breakpoint-max){
			font-size: 0.8em;
		}
	}

	.header-container {
		display: inline-block;
		margin-bottom: 15px;
	}
}

.menu {
	background-color: rgba($colour2, 0.2);
	overflow-x: scroll;
	width: 100%;

	.nav-menu {
		margin:  10px 10%;
		@media(max-width: $grid-float-breakpoint-max){
			margin: 10px 0%;
			width: 600px;

		}
		ul {
			list-style: none;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-ms-flex-wrap: nowrap;
			    flex-wrap: nowrap;
			-webkit-box-orient:  horizontal;
			-webkit-box-direction:  normal;
			-ms-flex-direction:  row;
			flex-direction:  row;
			margin-bottom: 0px;
			padding-left: 0px;
			li {
				float: left;
				text-align: center;
				-webkit-box-flex: 5;-ms-flex-positive: 5;flex-grow: 5;
				&:not(:last-child) {
					border-right: 1px solid rgba($colour1, 0.25);
				}
			}
			li > a {
				font-family: 'Josefin Sans';
				font-weight: 800;
				font-size: 1.8em;
				@media(max-width: $grid-float-breakpoint-max){
					font-size: 1.2em;	
				}
				color: $colour1;
				transition: all 0.3s ease;

				&:hover,
				&:active,
				&:focus {
					text-decoration: none;
					color: lighten($colour1, 30%);
				}
			}
		}
	}
}


.main-slider {
	z-index: 0;
	@media(min-width: $grid-float-breakpoint-max){
		margin-bottom: 50px;
	}
	.item {
		width: 100%;
		max-height: 600px;

		overflow: hidden;
		position: relative;


		h1 {
			margin: 0;
			position: absolute;
			// width: 100%;
			top: 50%;
			background-color: $colour1;
			color: $colour4 !important;
			padding: 15px;
			text-align: left;
			left: 8%;
			z-index: 60;
			@media(max-width: $grid-float-breakpoint-max){
				position: static;
				font-size: 1.8em;

				span {
					font-size: 0.6em !important;
					line-height: 24px !important;
				}
			}

			span {
				line-height: 32px;
				font-size: 0.65em;
				display: block;
				font-family: 'Josefin Sans' !important;
			}
		}

		img {
			width: 100%;
			height: auto;
		}
	}
}

.template {
	background-color: rgba($colour2, 0.1);

	h1, h2, h3, h4, h5 {
		font-family: $headings-font !important;
		font-weight: 400;
		color: $colour1;
		letter-spacing: 2px;
	}

	p {
		font-family: 'Josefin Sans';
		font-weight: 500;
		font-size: 1.3em;
		color: rgba(black, 0.7);
		line-height: 29px;
		margin-bottom: 20px;

		&.s-10em {
			font-size: 1em !important;
		}
	}

	ul.widget {
		list-style-type: square;
		padding-left: 10px;
		> li > a {
			padding-bottom: 10px;
			font-family: 'Raleway';
			font-weight: 300;
			font-size: 1.1em !important;
			color: rgba(black, 0.7);
			transition: all 0.3s ease;
			display: block;

			&:active, &:focus, &:hover {
				text-decoration: none;
				color: rgba(black, 0.45);
			}
		}
	}

	
	.featured {
		margin: 50px 0px;
		background-color: #fff;
		padding: 15px 0px;

		@media(min-width: $grid-float-breakpoint-max){
			padding: 25px;
		}

		.ad {
			position: relative;
			margin-bottom: 15px;

			img {
				max-height: 280px;
			}

			h3 {
				margin: 0;
				position: absolute;
				// width: 100%;
				top: 50%;
				background-color: #fff;
				padding: 15px;
				text-align: center;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		// Featured products
		// OwlCarousel item
		.item {
			padding: 15px;
			min-height: 325px;
			max-width: 325px;

			a, a:hover, a:focus, a:active {
				text-decoration: none;
			}

			h3 {
				font-size: 1.2em;
				font-weight: 700;
			}
			p {
				font-size: 1.3em;
				line-height: 22px;
				margin-bottom: 5px;
			}

			h4 {
				font-weight: 700;
				font-size: 1.6em;
				color: black;
			}			
		}
	}
	
	.page-title {
		position: relative;
		height: 95px;
		@media(min-width: $grid-float-breakpoint-max){
			height: 150px;
		}
		overflow-y: hidden;
		background-color: $colour2;

		h1 {
			color: $colour1;
			position: absolute;
			margin-top: 20px;
			margin-left: 25px;
			padding: 15px;
			font-size: 1.8em;
			@media(min-width: $grid-float-breakpoint-max){
				padding: 25px;
				margin-top: 30px;
				margin-left: 50px;
				font-size: 2.5em;
			}
			background-color: #fff;
			z-index: 0;
		}
	}
	.pagination {
		margin-left: 15px;
		li {	
			a {
				font-family: $headings-font;
				font-weight: 700;
				font-size: 1.2em;
				color: $colour1;
			}

			&.active > a {
				background-color: $colour1;
				color: #fff;
				border-color: $colour1;
			}

			&:first-child {
				a {
					border-top-left-radius: 0px;
					border-bottom-left-radius: 0px;
				}
			}
			&:last-child {
				a {
					border-top-right-radius: 0px;
					border-bottom-right-radius: 0px;
				}
			}
		}
	}

	
} // .template

