.template {
	.t-product-grid {
		.t-product-img {
			max-height: 225px;
			overflow: hidden;
			border-radius: 2px;
			margin-bottom: 10px;
		}

		.t-product-details {
			padding: 0px 15px;
			padding-bottom: 5px;
			@media(max-width: $grid-float-breakpoint-max){
				padding-left: 0;
			}

			a {
				text-decoration: none;
				&:hover {
					text-decoration: none;
				}
			}
			
			.t-category {
				text-transform: uppercase;
				font-weight: 600;
				letter-spacing: 1.5px;
				font-size: 0.85em;
				color: $colour1;
			}

			.t-product-title {
				font-size: 1.2em;
				font-weight: 700;
				margin-top: 10px;
				@media(max-width: $grid-float-breakpoint-max){
					margin-top: 3px;
				}
			}

			.t-company {
				color: $colour1;
				font-weight: 600;
				font-size: 1.2em;
				margin-top: 3px;
			}

			.t-price {
				color: black !important;
				font-size: 1.4em;
				font-weight: 700;
				margin-top: 5px;

				strike {
					color: $dg-gray;
				}

				.t-discount {
					background-color: $dg-gray;
					display: inline-block;
					margin-bottom: 5px;
					color: white;
					border-radius: 0;
					padding: 4px 10px;
					font-size: 0.6em;
				}
			}

			.t-review {
				a, i {
					color: $colour3;							
				}
			}
		}

		.t-panel {
			background-color: #fff;
			padding: 15px;
			margin-top: 5px;
			margin-bottom: 5px;
			border-radius: 0px;
			border: none;
			transition: all 0.3s ease;
			overflow: hidden;
			box-shadow: 0px 1px 1px rgba($colour2, 0.2);		
		}
	}
	
	.t-sortFilter {
		background-color: #fff;
		border-radius: 0px;
		padding: 15px 15px;
		margin: 20px 0px;
		box-shadow: 0px 1px 1px rgba($colour2, 0.2);

		.col-sm-12:not(:last-child) {
			@media(max-width: $grid-float-breakpoint){
				margin-bottom: 25px;
			}
		}

		select {
			padding: 2px 5px;
			margin: -8px 5px;
			border: 1px solid $colour1;
			box-shadow: none;
			display: inline-block;
			width: 65px;
			border-radius: 0px;

			&:focus {
				border: 1px solid $colour1;
				box-shadow: none;
			}
		}

		h4 {
			margin: 0px 5px;
			font-weight: 700;
			font-size: 0.8em;
			display: inline-block;
		}

		a {
			text-decoration:  none;
			padding-left: 5px;
			padding-right: 10px;
			color: $colour2;
			font-size: 0.9em;
			font-weight: 500;
			font-family: $headings-font;
			text-transform: uppercase;
			letter-spacing: 2px;

			&:not(:last-child) {
				border-right: 1px solid $colour3;
				margin-right: 10px;
			}

			&:hover, &:focus {
				text-decoration: none;
				color: $colour1;
			}
		}
	}

	.t-sidebar-product-filter {
		margin-top: 20px;
		@media(max-width: $screen-sm){
			position: fixed;
			left: 0;
			top: 0;
			margin-top: 305px;
			background-color: $colour4;
			color: $colour1;
			width: 100%;
			height: 100%;
			overflow-y: scroll;
			z-index: 55;
			padding: 10px;
			box-shadow: 1px 1px 2px rgba($colour2, 0.3);
			transition: all 0.3s ease;
		}
		
		.reveal-button {
			font-size: 1.3em;
			font-weight: 500;
			margin-bottom: 10px;
		}

		&.hide-sidebar {
			@media(max-width: $screen-sm) {
				width: 100px;
				height: 46px;
				overflow-y: hidden;
			}

			.collapsible {
				@media(max-width: $screen-sm){
					display: none;
				}
			}
		}

		&.scroll {
			@media(max-width: $screen-sm) {
				margin-top: 145px;
			}
		}

		button {
			-webkit-appearance: none;-moz-appearance: none;appearance: none;
			border: none;
			outline: none;
			background: none;
			font-size: 1.2em;
		}

		h3 {
			margin-top: 10px;
		}

		.panel {
			border-radius: 0;
			border: none;
			transition: all 0.3s ease;
			overflow: hidden;
			position: relative;
		}

		.panel-heading {
			background-color: #fff;
			border: 0px;

			.panel-title {
				
				font-size: 1.6em;
			}

		}
		.panel-body {
			padding-top: 0px;
			max-height: 300px;
			overflow-y: scroll;
			.checkbox {
				margin: 5px 0px;
				label {
					font-size: 1em;
					font-weight: 300;
				}
				
			}
		}
	}
}