.template {
	.btn {
		font-family: $headings-font;
		border: 1px solid;
		background-color: transparent;
		border-radius: 0px;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1em;

		&:hover,
		&:focus,
		&:active {
			border: 1px solid;
		}
	}

	.btn-primary {
		border-color:  $colour2 !important;
		color: $colour2;
		background-color: $colour2;
		color: white;
		padding: 5px;
		i {
			font-size: 1.4em;
			vertical-align: baseline;
			
		}

		&:hover,
		&:focus,
		&:active {
			border-color:  $colour2 !important;
			background-color: transparent;
			color: $colour2;
		}

	}
	
}
