// Navbar burger menu icon-bar
// Variables

$button-width: 45px;                    // The width of the button area
$button-height: 45px;                   // The height of the button area
$bar-thickness: 3px;                    // The thickness of the button bars
$button-pad: $button-width*0.2;                      // The left/right padding between button area and bars.
$button-bar-space: $button-width*0.2;                // The spacing between button bars
$button-transistion-duration: 0.3s;     // The transition duration

.burger {
  float: left;
  display: inline-block;
  position: absolute;
  top: -12px;
  left: 0;
  overflow: hidden;
  padding: 0;
  margin-right: 15px;
  margin-top: 10px;
  width: $button-width;
  height: $button-height;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background $button-transistion-duration;
}

.burger:focus {
  outline: none;
}

.burger span {
  display: block;
  position: absolute;
  top: ($button-height / 2) - ($bar-thickness / 2);
  left: $button-pad;
  right: $button-pad;
  height: $bar-thickness;
  background: $colour4;
}

.burger span::before,
.burger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: $bar-thickness;
  background-color: $colour4;
  content: "";
}

.burger span::before {
  top: -$bar-thickness - $button-bar-space;
}

.burger span::after {
  bottom: -$bar-thickness - $button-bar-space;
}

.burger--htx {
  // background-color: $dg-gray;
  background-color: transparent;
}

.burger--htx span {
  transition: background 0s $button-transistion-duration;
}

.burger--htx span::before,
.burger--htx span::after {
  transition-duration: $button-transistion-duration, $button-transistion-duration;
  transition-delay: $button-transistion-duration, 0s;
}

.burger--htx span::before {
  transition-property: top, transform;
}

.burger--htx span::after {
  transition-property: bottom, transform;
}

.burger--htx.is-active {
  // background-color: darken($dg-gray, 20%);
  background-color: transparent;
}

.burger--htx.is-active span {
  background: none;
}

.burger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.burger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.burger--htx.is-active span::before,
.burger--htx.is-active span::after {
  transition-delay: 0s, $button-transistion-duration;
}
