// Belgravia 
// Shopguin business themes

// Colour variables
$colour1: #30A39E;
$colour2: #2D1A36;
$colour3: #D4C0A5;
$colour4: #DBD8EB;
$colour5: #080304;

$dg-gray:	rgb(90,90,90);

// Fonts
$headings-font:	'Rajdhani';


.header {
	background-color: #212121;
	transition: all 0.3s ease;
	display: block;
	position: relative;

	@media(max-width: $screen-sm){
		height: auto;
	}
	@media(max-width: $grid-float-breakpoint-max){
		// margin-top: 65px;
		margin-top: -20px;
		padding: 15px 10px;
	}
	@media(min-width: $grid-float-breakpoint-max){
		padding: 5px 15px;
		// padding-bottom: 5px;
		margin-top: -20px;
		z-index: 1;
		&.fixed {
			margin-top: 0px;
		}
	}


	&.fixed {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 99;
		margin-top: 0px;
		
		@media(min-width: $grid-float-breakpoint-max){
			.header-container:nth-child(1){
				display: none;
			}
		}
	}

	.brand-name-container {
		.brand-name {
			font-family: $headings-font;
			color: white;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-weight: 300;
			margin-top: 0px;
			font-size: 2.2em;
			
			@media(min-width: $grid-float-breakpoint-max){
				font-size: 3.8em;
				padding-top: 20px;
			}
			
			@media(max-width: $screen-sm){
				font-size: 3vh;
				margin-bottom: 0;
			}
		}

		@media(max-width: $screen-sm) {
			width: 80%;
			margin-left: 45px;
			height: 50px;
		}
	}

	.sub-title {
		font-family: $headings-font;
		letter-spacing: 5px;
		font-weight: 500;
		text-transform: uppercase;
		font-size: 1em;
		color: $colour1;
		@media(max-width: $screen-xs) {
			display: none;
		}
	}

	.header-container {
		display: block;
		float: left;
		width: 100%;
		position: relative;
		@media(min-width: $grid-float-breakpoint-max){
			padding-left: 20px;	
		}

		&:nth-child(1) {
			@media(min-width: $screen-sm){
				padding-bottom: 10px;
				border-bottom: 1px solid rgba(white, 0.1);
			}
		}

		&:nth-child(2) {
			@media(max-width: $screen-sm){
				display: none;
			}
		}

		.nav-menu {
			margin:  10px 10%;
			@media(max-width: $grid-float-breakpoint-max){
				margin: 10px 0%;
				width: 600px;

			}
			ul {
				width: 100%;
				list-style: none;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
				-ms-flex-wrap: nowrap;
				    flex-wrap: nowrap;
				-webkit-box-orient:  horizontal;
				-webkit-box-direction:  normal;
				-ms-flex-direction:  row;
				flex-direction:  row;
				margin-bottom: 0px;
				padding-left: 0px;
				li {
					float: left;
					text-align: center;
					-webkit-box-flex: 5;-ms-flex-positive: 5;flex-grow: 5;
					&:not(:last-child) {
						border-right: 1px solid rgba(white, 0.15);
					}
				}
				li > a {
					font-family: 'Abel';
					font-weight: 100;
					font-size: 1.8em;
					text-transform: uppercase;
					@media(max-width: $grid-float-breakpoint-max){
						font-size: 1.2em;	
					}
					color: white;
					transition: all 0.3s ease;

					&:hover,
					&:active,
					&:focus {
						text-decoration: none;
						color: lighten($colour1, 30%);
					}
				}
			}
		}
	}
}


.slide-in-nav {
	position: absolute;
	display: block;
	transition: all 0.3s ease;
	left: 0px;
	background-color: lighten($colour2, 10%);
	box-shadow: 3px 3px 3px rgba(black, 0.15);
	z-index:  105;

	@media(max-width: $grid-float-breakpoint-max){
		top: 80px;
		width: 100%;
		padding: 15px;
	}
	@media(min-width: $grid-float-breakpoint-max){
		width: 250px;
		top: 121px;
		padding: 25px;
	}
	&.closed {
		@media(min-width: $grid-float-breakpoint-max){
			-webkit-transform: translateX(-450px);
			transform: translateX(-450px);		
		}
		@media(max-width: $grid-float-breakpoint-max){
			-webkit-transform: translateX(-120%);
			transform: translateX(-120%);
		}
	}
	

	ul {
		padding-left: 0px;
		text-transform: uppercase;
		list-style-type: none;
		li {
			padding: 10px 0px;
			font-weight: 700;
			a {
				// color: rgba(white, 0.7);
				color: lighten($colour2, 55%);
				transition: all 0.3s ease;

				&:hover,
				&:focus,
				&:active {
					color: lighten($colour1, 25%);
					text-decoration: none;
				}
			}

			> ul {
				padding-left: 25px;
				li {
					a {
						color: $colour1;
					}
				}
			}
		}
	}

}

.main-slider {
	z-index: 0;
	@media(min-width: $grid-float-breakpoint-max){
		margin-bottom: 50px;
	}
	.item {
		width: 100%;
		max-height: 600px;

		overflow: hidden;
		position: relative;
	
		.text-container {
			position: absolute;
			width: 100%;
			z-index: 60;
			height: 100%;
			@media(max-width: $grid-float-breakpoint-max){
				position: static;
			}

			h1 {
				background-color: $colour1;
				color: $colour2;
				padding: 25px;
				text-align: center;
				width: 35%;
				margin: auto;
				position: relative;
				top: 50%;
				font-size: 4em;

				@media(max-width: $grid-float-breakpoint-max){
					position: static;
					width: 100%;
					font-size: 1.8em;

					span {
						font-size: 0.6em !important;
					}
				}

				span {
					line-height: 32px;
					font-size: 0.4em;
					display: block;
				}
			}

		}

		img {
			width: 100%;
			height: auto;
			// @media(min-width: $grid-float-breakpoint-max){
			// 	transform: translateY(-150px);
			// }
		}
	}
}

section {
	padding-bottom: 25px;
	padding-top: 25px;
	&.c1 {
		background-color: $colour1;
	}

	&.c2 {
		background-color: $colour2;
	}
}

.template {
	background-color: rgba($colour2, 0.1);

	h1, h2, h3, h4, h5 {
		font-family: $headings-font;
		font-weight: 400;
		color: rgba(0,0,0,0.60);
		text-transform: uppercase;
		letter-spacing: 2px;

		&.c1 {
			color: $colour1;
		}

		&.c2 {
			color: $colour2;
		}

		&.c3 {
			color: $colour3;
		}

		&.c4 {
			color: $colour4;
		}

	}

	.section-heading {
		text-align: center;
		position: relative;

		&:after {
			content: '';
			background-color: $colour1;
			position: absolute;
			bottom: -10px;
			left: 50%;
			width: 5%;
			height: 2px;
			margin-left: -2.5%;
		}
	}


	p {
		font-family: 'Raleway';
		font-weight: 300;
		font-size: 1.25em;
		color: rgba(black, 0.7);
		line-height: 29px;
		margin-bottom: 20px;

		&.s-10em {
			font-size: 1em !important;
		}
	}

	ul.widget {
		list-style-type: square;
		> li > a {
			padding-bottom: 10px;
			font-family: 'Raleway';
			font-weight: 300;
			font-size: 1em;
			color: rgba(black, 0.7);
			transition: all 0.3s ease;
			display: block;

			&:active, &:focus, &:hover {
				text-decoration: none;
				color: rgba(black, 0.45);
			}
		}
	}

	
	.featured {
		margin: 50px 0px;
		background-color: #fff;
		padding: 15px 0px;
		border-top: 4px solid $colour1;
		box-shadow: 0px 25px 35px -25px rgba($colour2, 0.5);

		@media(min-width: $grid-float-breakpoint-max){
			padding: 25px;
		}

		&.trans {
			background-color: transparent;
			border: none;
		}

		.ad {
			position: relative;
			margin-bottom: 15px;
			max-height: 280px;
			overflow-y: hidden;
			
			img {
				width: 100% !important;
				height: auto !important;
			}

			h3 {
				margin: 0;
				// width: 100%;
				background-color: $colour1;
				color: $colour2;
				padding: 15px;
				text-align: center;
				@media(min-width: $grid-float-breakpoint-max){
					position: absolute;
					top: 50%;
					transform: translate(-50%, -50%);
					left: 50%;
				}
				@media(max-width: $grid-float-breakpoint-max){
					position: static;
				}
			}
		}

		// Featured products
		// OwlCarousel item
		.item {
			padding: 15px;
			min-height: 325px;
			max-width: 325px;

			a, a:hover, a:focus, a:active {
				text-decoration: none;
			}

			h3 {
				font-size: 1.2em;
				font-weight: 700;
			}
			p {
				font-size: 1.1em;
				line-height: 22px;
				margin-bottom: 5px;
			}

			h4 {
				font-weight: 700;
				font-size: 1.6em;
				color: black;
			}			
		}
	}
	
	.page-title {
		position: relative;
		height: 95px;
		@media(min-width: $grid-float-breakpoint-max){
			height: 150px;
		}
		overflow-y: hidden;
		background-color: $colour1;

		h1 {
			color: $colour2;
			position: absolute;
			margin-top: 20px;
			margin-left: 25px;
			margin: auto;
			padding: 15px;
			font-size: 1.8em;
			@media(min-width: $grid-float-breakpoint-max){
				padding: 25px;
				// margin-top: 30px;
				// margin-left: 50px;
				margin: auto;
				position: static;
				width: 25%;
				font-size: 2.5em;
			}
			background-color: #fff;
			z-index: 0;
		}
	}
	.pagination {
		margin-left: 15px;
		li {	
			a {
				font-family: $headings-font;
				font-weight: 700;
				font-size: 1.2em;
				color: $colour1;
			}

			&.active > a {
				background-color: $colour1;
				color: #fff;
				border-color: $colour1;
			}

			&:first-child {
				a {
					border-top-left-radius: 0px;
					border-bottom-left-radius: 0px;
				}
			}
			&:last-child {
				a {
					border-top-right-radius: 0px;
					border-bottom-right-radius: 0px;
				}
			}
		}
	}

	.t-panel {
			background-color: #fff;
			padding: 15px;
			margin-top: 5px;
			margin-bottom: 5px;
			border-radius: 0px;
			border: none;
			transition: all 0.3s ease;
			overflow: hidden;
			box-shadow: 0px 1px 1px rgba($colour2, 0.2);		
		}

	
} // .template

