<template>
  <form action="/stripe/charge" method="POST">

    <input type="hidden" name="stripeToken" v-model="stripeToken">
    <input type="hidden" name="stripeEmail" v-model="stripeEmail">


    <button type="submit" class="btn btn-primary" @click.prevent="buy"><i class="icon icon-cash"></i> &nbsp;Pay for items</button>
    <div class="alert alert-danger" v-show="status" v-text="status"></div>

  </form>
</template>

<script>
    export default {
      props: ['invoice'],

      data() {
        return {
          stripeEmail: '',
          stripeToken: '',
          invoice: this.invoice.id,
          status: false
        };
      },

      created() {
        this.stripe = StripeCheckout.configure({
          key: Stripe.stripeKey,
          image: "https://stripe.com/img/documentation/checkout/marketplace.png",
          locale: "auto",
          currency: "eur",
          email: Stripe.user.email,
          token: (token) => {
            this.stripeToken = token.id;
            this.stripeEmail = token.email;

            this.$http.post('/stripe/charge', this.$data)
                      .then(
                        response => window.location.reload(),
                        response => this.status = response.body.status
                      )
          }

        });
      },

      methods: {
        buy() {

          this.stripe.open({
            name: 'Oreder No: '+this.invoice.id,
            description: 'nice product',
            zipCode: false,
            amount: this.invoice.final_price*100
          });
        },



      }

    }
</script>
