<template>

  <form class="form-horizontal" role="form" method="POST" action="/stripe/subscribe">

    <input type="hidden" name="stripeToken" v-model="stripeToken">
    <input type="hidden" name="stripeEmail" v-model="stripeEmail">


    <div id="login_details">
      <h3 class="">
        Log in details
      </h3>
      <p class="s-12em">
        To start off, please provide us with your email address and a password for logging into your Shopguin business account.
      </p>


      <div class="form-group">
        <label for="email" class="col-md-4 control-label">E-Mail Address</label>

        <div class="col-md-6">
          <input id="email" type="email" class="form-control" name="email" v-model="email" required>

        </div>
      </div>

      <div class="form-group">
        <label for="password" class="col-md-4 control-label">Password</label>

        <div class="col-md-6">
          <input id="password" type="password" class="form-control" v-model="password" name="password" required>
        </div>
      </div>

      <div class="form-group">
        <label for="password-confirm" class="col-md-4 control-label">Confirm Password</label>

        <div class="col-md-6">
          <input id="password-confirm" type="password" class="form-control" name="password_confirmation" required>
        </div>
      </div>

      <hr>
      <button type="button" id="to-biz" class="btn btn-primary" data-dismiss="alert">
        Next
        <i class="icon icon-right-chevron"></i>
      </button>
    </div>

    <div id="business_details" style="display: none;">
      <h3 class="">
        Business details
      </h3>
      <p class="s-12em">
        Tell us a bit about your company. You'll be able to change this information later on in your dashboard.
      </p>
      <h4>
        About your company
      </h4>
      <label for="business_name">Business name</label>
      <input v-model="business_name" type="text" name="business_name" class="form-control" id="business_name" placeholder="">
      <h4>
        Company address
      </h4>
      <div class="row">
        <div class="col-md-6">
          <label for="address1">Address line 1</label>
          <input type="text" name="address1" v-model="address1" class="form-control" id="address1" placeholder="">
        </div>
        <div class="col-md-6">
          <label for="address2">Address line 2</label>
          <input type="text" name="address2" v-model="address2" class="form-control" id="address2" placeholder="">
        </div>
        <div class="col-md-6">
          <label for="city">City</label>
          <input type="text" name="city" v-model="city" class="form-control" id="city" placeholder="">
        </div>
        <div class="col-md-6">
          <label for="state">State</label>
          <input type="text" name="state" v-model="state" class="form-control" id="state" placeholder="">
        </div>
        <div class="col-md-6">
          <label for="country">Country</label>
          <input type="text" v-model="country" name="country" class="form-control" id="country" placeholder="">
        </div>
        <div class="col-md-6">
          <label for="post_code">Post code</label>
          <input type="text" name="post_code" v-model="post_code" class="form-control" id="post_code" placeholder="">
        </div>
      </div>




      <button type="button" id="back-to-login" class="btn btn-primary" data-dismiss="alert">
        <i class="icon icon-left-chevron"></i>
        Previous
      </button>
      <button type="button" id="to-plan" class="btn btn-primary" data-dismiss="alert">
        Next
        <i class="icon icon-right-chevron"></i>
      </button>
    </div>

    <div id="plan" style="display: none;">
      <h3 class="">
        Choose your plan
      </h3>
      <p class="s-12em">
        All membership plans come standard with access to the Shopguin platform's unique features, which are not limited to a personal domain, client messaging system, 24/7 tech support, unlimited file storage and access to themes for your storefront.
      </p>
      <div class="business">
        <div class="row s-11em">
          <div class="col-md-4">
            <ul>
              <li>
                <div class="row">
                  <div class="col-xs-4">
                    <i class="icon icon-cash"></i>
                  </div>
                  <div class="col-xs-8">
                    Built in payment processing, review and messaging system
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul>
              <li>
                <div class="row">
                  <div class="col-xs-4">
                    <i class="icon icon-online-shop"></i>
                  </div>
                  <div class="col-xs-8">
                    Complete solution with hosting included
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-xs-4">
                    <i class="icon icon-chat"></i>
                  </div>
                  <div class="col-xs-8">
                    Code-free and easy to use
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul>
              <li>
                <div class="row">
                  <div class="col-xs-4">
                    <i class="icon icon-support"></i>
                  </div>
                  <div class="col-xs-8">
                    Dedicated technical support team
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-xs-4">
                    <i class="icon icon-high-heels"></i>
                  </div>
                  <div class="col-xs-8">
                    Stress free sales
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row info-bar">
        <div class="col-md-12">
          <h1 class="no-vm">
            Get your first month free! <br>
            <small>
              Try your first month with us for free, when signing up for any of the plans listed below!
            </small>
          </h1>

        </div>
      </div>

      <label for="basic" class="large-radio" >
        <input class="large-radio" type="radio" name="subscribe_plan_id" id="basic" value="1" v-model="plan"> Basic - €9.90/mo<br>
        <span>
          All the basics for starting a new business. Products limit up to 10.
        </span>
      </label>
      <label for="prof" class="large-radio">
        <input class="large-radio" type="radio" name="subscribe_plan_id" id="prof" value="2" checked v-model="plan"> Professional - €19.90/mo<br>
        <span>
          Everything you need for a growing business. Products limit of up to 30 products. Get additional reports on statistics.
        </span>
      </label>
      <label for="adv" class="large-radio">
        <input class="large-radio" type="radio" name="subscribe_plan_id" id="adv" value="3" v-model="plan"> Advanced - €39.90/mo<br>
        <span>
          Advanced features for scaling your business. Products limit up to 100.
        </span>
      </label>

      <hr>
      <button type="button" id="back-to-biz" class="btn btn-primary" data-dismiss="alert">
        <i class="icon icon-left-chevron"></i>
        Previous
      </button>
      <button type="button" id="to-themes" class="btn btn-primary" data-dismiss="alert">
        Next
        <i class="icon icon-right-chevron"></i>
      </button>
    </div>

    <div id="themes" style="display: none;">
      <h3 class="">
        Choose your theme and domain
      </h3>
      <p class="s-12em">
        You're now ready to choose your custom domain, and a theme for your business's storefront.
      </p>
      <div class="row">
        <div class="col-md-3">
          <label for="agnolotti" class="large-radio">
            <input class="large-radio" type="radio" name="theme" value="1" id="agnolotti" checked v-model="theme"> Agnolotti<br>
            <span>
              Suitable for businesses selling food items.
              <img src="/images/agnolotti.jpg" class="img-responsive" alt="">
            </span>
            <br>
            <a href="/demo/agnolotti" target="_blank" class="btn btn-primary btn-xs">View demo</a>
          </label>
        </div>
        <div class="col-md-3">
          <label for="vionnet" class="large-radio">
            <input class="large-radio" type="radio" value="2" name="theme" id="vionnet" v-model="theme"> Vionnet<br>
            <span>
              Modern, minimalistic theme for businesses in the fashion industry.
              <img src="/images/vionnet.jpg" class="img-responsive" alt="">
            </span>
            <br>
            <a target="_blank" href="/demo/vionnet" class="btn btn-primary btn-xs">View demo</a>
          </label>
        </div>
        <div class="col-md-3">
          <label for="belgravia" class="large-radio">
            <input class="large-radio" type="radio" value="2" name="theme" id="belgravia" v-model="theme"> Belgravia<br>
            <span>
              Classy, bold theme suitable for businesses in the clothing industry, but equally applicable to other industries!
              <img src="/images/belgravia.jpg" class="img-responsive" alt="">
            </span>
            <br>
            <a target="_blank" href="/demo/belgravia" class="btn btn-primary btn-xs">View demo</a>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <label for="domain">Please enter the domain you would like:</label>
          <!-- <input type="text" name="domain" class="form-control" id="domain" placeholder="">

          <p class="s-12em">
            If you don't want a domain, choose a short version of your company name to appear in the Shopguin website links:
          </p> -->
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">https://www.shopguin.com/</span>
            <input type="text" name="slug" v-model="slug" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>

        </div>
      </div>

      <div class="form-group">
      <div class="row info-bar">
        <div class="col-md-12">
          <h1 class="no-vm">
            Remember, your first month is free! <br>
            <small>
              You'll be asked to fill in your card details, but you will only be charged after 30 days. To ensure you're not charged, simply cancel anytime before 30 days!
            </small>
          </h1>
        </div>
      </div>
        <div class="col-md-12 text-center">
          <button type="submit" class="btn btn-lg btn-primary" @click.prevent="subscribe"><i class="icon icon-checked"></i> Register</button>
          <div class="alert alert-danger" v-show="status" v-text="status"></div>
        </div>
      </div>
      <hr>
      <button type="button" id="back-to-plan" class="btn btn-primary" data-dismiss="alert">
        <i class="icon icon-left-chevron"></i>
        Previous
      </button>
    </div>
  </form>
</template>

<script>
    export default {
      props: ['plans'],

      data() {
        return {
          stripeEmail: '',
          stripeToken: '',
          email: '',
          plan: 2,
          status: false,
          password: '',
          business_name: '',
          country: '',
          state: '',
          city: '',
          address1: '',
          address2: '',
          post_code: '',
          slug: '',
          theme: ''
        };
      },

      created() {
        this.stripe = StripeCheckout.configure({
          key: Stripe.stripeKey,
          image: "https://shopguin.com/ico/favicon.png",
          locale: "auto",
          panelLabel: "Start Trial",
          currency: "eur",
          token: (token) => {
            this.stripeToken = token.id;
            this.stripeEmail = token.email;


            this.$http.post('/stripe/subscribe', this.$data)
                .then(
                  response => window.location.replace('/dashboard'),
                  response => this.status = response.body.status
                )

          }
        });
      },

      methods: {
        subscribe() {
          let email = this.email;
          let plan = this.findplanById(this.plan);

          this.stripe.open({
            name: plan.category+' '+plan.packet,
            description: 'You will not be charged at this point. Only if you choose to continue after your free trial ends.',
            zipCode: false,
            email: email
          });
        },

        findplanById(id) {
          return this.plans.find(plan => plan.id == id);
        }


      }

    }
</script>
