<template>
  <form action="/stripe/subscribe" method="POST">

    <input type="hidden" name="stripeToken" v-model="stripeToken">
    <input type="hidden" name="stripeEmail" v-model="stripeEmail">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="text-muted font-13 m-b-30">
            Shopguin offers you 3 different membership tiers. Have a look at the features at each membership tier:
          </p>
          <div class="pricing-table-container text-center">
            <div class="pricing-table">
              <div class="header">
                Basic
                <span>
                  All the basics for starting a new business
                </span>
              </div>
              <div class="body">
                <ul>
                  <li>
                    Up to 10 products
                  </li>

                  <li>
                    <span>
                      Transaction fee:
                    </span>
                    4.00%
                  </li>
                </ul>
              </div>
              <div class="footer">
                <h2 class="w300 no-vm">
                  €9.90
                  <span>
                    /mo
                  </span>
                </h2>
              </div>
            </div>
            <div class="pricing-table">
              <div class="header">
                Professional
                <span>
                  Everything you need for a growing business
                </span>
              </div>
              <div class="body">
                <ul>
                  <li>
                    Up to 30 products
                  </li>

                  <li>
                    <span>
                      Transaction fee:
                    </span>
                    4.00%
                  </li>
                </ul>
              </div>
              <div class="footer">
                <h2 class="w300 no-vm">
                  €19.90
                  <span>
                    /mo
                  </span>
                </h2>
              </div>
            </div>
            <div class="pricing-table">
              <div class="header">
                Advanced
                <span>
                  Advanced features for scaling your business
                </span>
              </div>
              <div class="body">
                <ul>
                  <li>
                    Up to 100 products
                  </li>

                  <li>
                    <span>
                      Transaction fee:
                    </span>
                    4.00%
                  </li>
                </ul>
              </div>
              <div class="footer">
                <h2 class="w300 no-vm">
                  €39.90
                  <span>
                    /mo
                  </span>
                </h2>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <br>
    <p class="text-muted font-13 m-b-30">
      Ready to subscribe? Choose your desired membership tier below and press 'Subscribe'!
    </p>
    <select name="plan" v-model="plan">
      <option v-for="plan in plans" :value="plan.id">
        {{ plan.category  }} &mdash; ${{ plan.price / 100}}
      </option>
    </select>
    <br> <br>
    <button class="btn btn-primary" type="submit" @click.prevent="subscribe">Subscribe</button>

    <p class="help is-danger" v-show="status" v-text="status"></p>

  </form>
</template>

<script>
    export default {
      props: ['plans'],

      data() {
        return {
          stripeEmail: '',
          stripeToken: '',
          plan: 1,
          status: false
        };
      },

      created() {
        this.stripe = StripeCheckout.configure({
          key: Stripe.stripeKey,
          image: "https://stripe.com/img/documentation/checkout/marketplace.png",
          locale: "auto",
          panelLabel: "Subscribe For",
          currency: "eur",
          email: Stripe.user.email,
          token: (token) => {
            this.stripeToken = token.id;
            this.stripeEmail = token.email;


            this.$http.post('/stripe/subscribe', this.$data)
                .then(
                  response => window.location.reload(),
                  response => this.status = response.body.status
                )

          }
        });
      },

      methods: {
        subscribe() {

          let plan = this.findplanById(this.plan);

          this.stripe.open({
            name: plan.category+' '+plan.packet,
            description: plan.description,
            zipCode: false,
            amount: plan.price
          });
        },

        findplanById(id) {
          return this.plans.find(plan => plan.id == id);
        }


      }

    }
</script>
