<template>
  <form action="/stripe/charge" method="POST">

    <input type="hidden" name="stripeToken" v-model="stripeToken">
    <input type="hidden" name="stripeEmail" v-model="stripeEmail">


    <button type="submit" class="btn btn-primary" @click.prevent="buy"><i class="icon icon-cash"></i> &nbsp;Update Card Details</button>
    <div class="alert alert-danger" v-show="status" v-text="status"></div>

  </form>
</template>

<script>
    export default {

      data() {
        return {
          stripeEmail: '',
          stripeToken: '',
          status: false
        };
      },

      created() {
        this.stripe = StripeCheckout.configure({
          key: Stripe.stripeKey,
          image: "https://shopguin.com/ico/favicon.png",
          locale: "auto",
          panelLabel: "Update Card Details",
          email: Stripe.user.email,
          allowRememberMe: false,
          token: (token) => {
            this.stripeToken = token.id;
            this.stripeEmail = token.email;

            this.$http.post('/business/card', this.$data)
                      .then(
                        response => window.location.reload(),
                        response => this.status = response.body.status
                      )
          }

        });
      },

      methods: {
        buy() {

          this.stripe.open({
            name: 'Shopguin',
            zipCode: false,
          });
        },



      }

    }
</script>
