@import "request.scss";
@import "shopping_cart.scss";

.breadcrumbs {
	display: block;
	margin-bottom: 50px;

	ul {
		list-style: none;
		padding-left: 0;

		li {
			float: left;
			margin-right: 1%;
			display: inline-block;


			a {
				padding-right: 25%;
				font-family: 'Raleway';
				font-weight: 500;
				font-size: 1.1em;
				position: relative;
				display: block;
				
				&:after {
					content: "\\";
					color: $dark-gray;
					position: absolute;
					display: block;
					padding-left: 5%;
					right: 0;
					top: 0;
				}
			}
		}
	}
}

// Single product view
.product-info {
	color: $dark-gray;
	padding-left: 5%;	

	h1 {
		color: #000;
	}

	p {
		font-family: 'Lato';
		color: $med-gray;
		font-weight: 300;
		font-size: 1.2em;

		span {
			background-color: $gray;
			border-radius: 25px;
			color: #fff;
			font-size: 0.8em;
			font-weight: 400;
			padding-bottom: 0.6%;
			padding-top: 0.6%;
			padding-left: 1.5%;
			padding-right: 1.5%;
			margin-bottom: 2%;
		}
	}

	// Product price
	h2 {
		font-size: 3em;
		font-family: 'Roboto Condensed';
		font-weight: 900;
		word-break: keep-all;

		strike {
			color: $med-gray;
			font-weight: 500;
		}

		span {
			background-color: $secondary;
			border-radius: 25px;
			color: #fff;
			font-size: 0.6em;
			padding-bottom: 0.6%;
			padding-top: 0.6%;
			padding-left: 3%;
			padding-right: 3%;
			margin-bottom: 2%;
			vertical-align: middle;
			white-space: nowrap;

		}

	}

	// Country
	h3 {
		color: $med-gray;
	}

	// Product category and sub-category
	h5 {
		a, a:hover, a:focus, a:active {
			color: $dark-gray;
			font-size: 1.2em;
			font-weight:  400;
			text-decoration: none;

		}

		span {
			font-family: 'Roboto Condensed';
			text-transform: uppercase;
			color: $primary;
			font-weight: 900;
		}
	}

	.product-img {
		// max-width: 450px;
		max-height: 450px;
		@media(max-width: $grid-float-breakpoint){
			max-height: 300px;
		}
		height: auto;
		overflow: hidden;
		background-color: $light-gray;
		// border: 1px solid $faint-gray;
		border-radius: 5px;
		box-shadow: 0px 3px 15px rgba(black, 0.7);
		transition: all 0.3s ease;

		&:hover {
			transform: translateY(-10px) scale(1.1,1.1);
		}
	}

	&.rating,
	.rating {
		a {
			font-family: 'Lato';
			color: $dark-gray;
			
		}
		i {
			color: gold;
		}

		.no {
			color: $dark-gray;
		}
	}
}

.m-product-img {
	max-height: 350px;
	img {
		height: inherit;
		width: auto;
	}
}

.nav-product-img-tabs {
	margin-top: 25px;
	> li {
		float: left;
		// Make the list-items overlay the bottom border
		margin-bottom: -1px;
		margin-right: 2%;

		// Actual tabs (as links)
		> a {
			border: 1px solid transparent;
			border-radius: 5px;
			padding: 0px;
			img {
				width: 60px;
				height: auto;
			}
			&:hover {
			}
		}

		// Active state, and its :hover to override normal :hover
		&.active > a {
			&,
			&:hover,
			&:focus {
				color: $nav-tabs-active-link-hover-color;
				background-color: $nav-tabs-active-link-hover-bg;
				border: 3px solid $primary;
				cursor: default;
			}
		}
	}
	// pulling this in mainly for less shorthand
	&.nav-justified {
		@extend .nav-justified;
		@extend .nav-tabs-justified;
	}
}

.hint {
	font-size: 1.3em;
	background-color: $primary;
	border-radius: 25px;
	color: #fff;
	padding: 1% 4%;
	display: inline-block !important;
}

// Products single view

.product-details-lg {
	background-color: #fff;
	padding-left: 5%;
	padding-right: 5%;

	#product-details-panes {
		margin-top: -3px;
		border-top: 3px solid $faint-gray;
		.tab-pane {
			padding: 2% 3%;

			p {
				font-size: 1.2em;
				line-height: 1.6;
			}

			.dimensions {
				ul {
					display: flex;
					list-style: none;
					flex-wrap: wrap;

					li {
						flex-grow: 1;
						flex-shrink: 0;
						float: none;
						font-size: 1.3em;
						color: $med-gray;
						padding-bottom: 20px;

						span {
							color: $primary;
						}

						.property {
							font-family: 'Roboto Condensed';
							font-weight: 900;
							color: $dark-gray;
						}
						
					}
				}
			}

			.store {
				background-color: $light-gray;
				border-left: 15px solid #fff;
				border-bottom: 15px solid #fff;
				padding-bottom: 20px;

				span {
					color: $primary;
				}
			}

		}
	}
}

.nav-flex-tabs {
	margin-top: 25px;
	overflow-y: hidden;
	display: flex;

	> li {
		flex-basis: 300px;
		flex-shrink: 1;
		// Make the list-items overlay the bottom border
		margin-bottom: -3px;
		text-align: center;

		// Actual tabs (as links)
		> a {
			border: 3px solid transparent;
			font-family: 'Roboto Condensed';
			text-transform: uppercase;
			font-size: 1.4em;
			font-weight: 900;
			color: $gray;
			transition: all 0.3s ease;
			white-space: nowrap;
			padding-top: 15px;
			padding-bottom: 15px;

			&:hover {
				color: $primary;
				background-color: transparent;
			}
		}

		// Active state, and its :hover to override normal :hover
		&.active > a {
			&,
			&:hover,
			&:focus {
				color: $primary;
				cursor: default;
				background-color: #fff;
				border: 3px solid $faint-gray;
				border-bottom-color: transparent;
			}
		}
	}
	// pulling this in mainly for less shorthand
	&.nav-justified {
		@extend .nav-justified;
		@extend .nav-tabs-justified;
	}
}

//  All products view

.is-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	& > [class*='col-'] {
		
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		        flex-direction: column;
		> .panel {
			min-height: 300px;
		}
	}
}

.sortFilter {
	// background-color: $light-gray;
	background-color: #FFF;
	border-radius: 5px;
	padding: 15px 15px;
	margin-bottom: 20px;

	.col-sm-12:not(:last-child) {
		@media(max-width: $grid-float-breakpoint){
			margin-bottom: 25px;
		}
	}

	select {
		// padding: 2px 5px;
		margin: -8px 5px;
		// border: 3px solid $faint-gray;
		// box-shadow: none;
		display: inline-block;
		width: 240px;

		// &:focus {
		// 	border: 3px solid $faint-gray;
		// 	box-shadow: none;
		// }
	}

	h4 {
		margin: 0px 5px;
		display: inline-block;
	}

	a {
		text-decoration:  none;
		padding-left: 5px;
		padding-right: 10px;
		color: $med-gray;
		font-size: 1.13em;
		font-weight: 500;

		&:not(:last-child) {
			border-right: 1px solid $dark-gray;
			margin-right: 10px;
		}

		&:hover, &:focus {
			text-decoration: none;
			color: $primary;
		}
	}
}

.all-products {
	@media(max-width: $grid-float-breakpoint) {
		padding-top: 75px;
	}
}

// Products grid view
.product-grid {
	.row {
		margin: 0;
	}
	
	.breakpoint-indicator {
		@media(max-width: $screen-lg){
			content: 'Q';
			display: none;
		}
	}

	.box-light {
		border-radius: 3px;
		// padding: 8px !important;
		@media(min-width: $grid-float-breakpoint-max){
			// height: 435px;
		}
	}
	.product-img {
		@media(min-width: $grid-float-breakpoint-max){
			height: 225px;
			overflow-y: hidden;
			padding-left: 0px;
			padding-right: 0px;
		}
		border-radius: 2px;
		margin-bottom: 15px;

		img {
			@media(min-width: $grid-float-breakpoint-max){
				height: auto;
				width: 100%;
			}
			position: relative;
		}

		.img-bg {
			@media(min-width: $grid-float-breakpoint-max){
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: $light-gray;
				
			}
		}
	}
	.product-details {
		@media(max-width: $grid-float-breakpoint-max){
			padding-right: 0px;
		}

		@media(min-width: $grid-float-breakpoint-max){
			padding-left: 0px;
			padding-right: 0px;
		}

		a {
			text-decoration: none;

			&:hover {
				text-decoration: none;
			}
		}
		
		.category {
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 1.5px;
			font-size: 0.85em;
			color: $primary;
		}

		.product-title {
			margin-top: 0px;
			padding-top: 5px;
			@media(max-width: $grid-float-breakpoint-max){
				padding-top: 3px;
			}
			margin-bottom: 0px;
			color: lighten($dark-gray, 10%);
		}

		.company {
			color: lighten($med-gray, 8%);
			font-weight: 300;
			font-size: 1.2em;
			margin-top: 3px;
		}

		.price {
			color: #000;
			margin-top: 5px;
			font-size: 1.6em;
			@media(max-width: $grid-float-breakpoint-max){
				margin-top: 3px;
				margin-bottom: 3px;
			}
			strike {
				color: $gray;
			}

			.discount {
				background-color: $gray;
				display: inline-block;
				// margin-bottom: 5px;
				color: white;
				border-radius: 25px;
				padding: 4px 10px;
				font-size: 0.6em;
			}
		}
	}
	
	.product-buy {
		@media(min-width: $grid-float-breakpoint-max){
			padding-left: 0px;
			padding-right: 0px;
		}
	}
	

}

.sidebar-product-filter {
	// @media(max-width: $screen-md) {
	// 	position: fixed;
	// 	top: 0;
	// 	left: 0;
	// 	z-index: 25;
	// 	padding: 20px;
	// 	height: 100%;
	// 	width: 350px;
	// 	margin-top: 181px;
	// 	overflow-y: scroll;
	// 	background-color: #FFF;
	// 	box-shadow: 3px 1px 3px rgba($gray, 0.25);
	// 	transition: all 0.3s ease;
	// 	&.scroll-md {
	// 		margin-top: 0px;
	// 	}
	// }

	

	@media(max-width: $screen-sm) {
		position: fixed;
		top: 0;
		left: 0;
		margin-top: 65px;
		z-index: 25;
		height: 100%;
		width: 100%;
		transition: all 0.3s ease;
		&.scroll-md {
			margin-top: 65px;
		}
	}
	
	// Button to collapse
	#collapse-sidebar {
		button {
			-webkit-appearance: none;-moz-appearance: none;appearance: none;
			background: none;
			border: none;
			outline: none;
			margin: 0 !important;
			font-weight: 500;
			font-family: 'Quicksand';
			font-size: 1.4em;
			color: $dark-gray;
			i {
				color: $primary;
			}
		}
	}

	&.hide-sidebar {
		@media(max-width: $grid-float-breakpoint-max){
			width: 110px;
			height: 48px !important;
			padding: 8px !important;
			border-bottom-right-radius: 8px;
			border: 1px solid $faint-gray;
			box-shadow: none;
			background-color: lighten($faint-gray, 10%);
		}
		@media(max-width: $screen-md) {
			width: 110px;
			height: 64px;
			padding: 15px;
			overflow: hidden;
		}
		.collapsible {
			@media(max-width: $screen-xs){
				display: none;
			}
		}
	}

	.filter-title {
		color: $primary;
		font-size: 1.5em;
		// font-family: 'Quicksand';
		font-weight: 400;
		margin-bottom: 10px;
	}

	.accordion-slidedown {
		max-height: 300px;
		overflow-x: scroll;
		padding-left: 15px;
	}
}

.product-filter-overlay {
	position: fixed;
	margin-top: -10px;
	padding: 15px;
	background-color: #FFF;
	width: 100%;
	height: 100%;
	z-index: 50;
	transition: all 0.3s ease;
	transform: translateX(0);

	.accordion-slidedown {
		max-height: 300px;
		overflow-x: scroll;
		padding-left: 15px;
	}

	&.slide-out {
		transform: translateX(-120%);
	}
}

.m-sortfilter-bar {
	position: absolute;
	top: calc(66px + 25px);
	left: 20px;
	right: 20px;
	transition: all 0.3s ease;
	border: 3px solid $light-gray;
	min-height: 44px;
	transition: all 0.3s ease;
	z-index: 997;
	background-color: #fff;

	.row {
		padding-left: 10px;
		padding-right: 10px;
		
		[class^='col'] {
			&:not(:last-child){
				border-right: 1px solid $faint-gray;
			}
			padding: 10px 15px;
			text-align: center;
			font-size: 1.2em;
			font-weight: 600;

			i {
				color: $primary;
			}
		}
	}

	//  Headings
	h2 {
		color: $med-gray;
		margin: 0;
		font-size: 1.6em;
		font-weight: 600;
		padding: 10px 15px;
	}

	&.stuck {
		position: fixed !important;
		background-color: rgba(lighten($faint-gray, 10%), 0.98);
		border: 0px;
		border-bottom: 1px solid $faint-gray !important;
		top: 66px;
		margin-left: -20px;
		margin-right: -20px;
	}

	.sortFilterLowerBar {
		background: none !important;
		padding: 10px 40px;
		margin-bottom: 0px;
		a {
			display: block;
			padding-bottom: 10px;
			padding-left: 30px;
			border: 0px;
		}

		.panel-group {
			.panel {
				border-radius: 0px;
				.panel-heading {
					background-color: $light-gray;
					border: 0px;
					border-radius: 0px;
					padding: 8px 15px;

					.panel-title {
						padding: 0;
						a {
							padding: 0;
							font-weight: 700;
							font-size: 1.1em;

							&.collapsed {
								font-weight: 700;
								font-size: 1.1em;
							}
						}
					}
				}
			}

			.panel-body {
				padding-top: 0px;
				padding-bottom: 0px;
				max-height: 200px;
				overflow-y: scroll;

				.checkbox > label {
					font-size: 1.2em;
					font-weight: 500;
				}
			}
		}
	}
}

.products-as-list {
	list-style: none;
	padding-left: 0;

	// Cart total
	h3 {
		font-weight: 300;
		font-size: 1.3em;
		letter-spacing: 1px;
		color: black;
		line-height: 22px;
		span {
			text-transform: uppercase;
			color: $gray;
			letter-spacing: 2px;
		}
	}
	
	li {
		padding: 10px 0px;
		border-bottom: 1px solid $faint-gray;
			


		// Product name
		h4 {
			margin: 0px;
			padding-bottom: 5px;
			font-size: 1.4em;
			position: relative;
			font-weight: 500;
			color: black;
			
			a {
				color: black;
				&:hover,&:focus,&:active {
					text-decoration: none;
				}
			}

			// Delete button
			a.delete {
				// position: absolute;
				// right: 5px;
				color: $red;
				font-size: 0.7em;
				background-color: rgba(100,100,100,0.05);
				border-radius: 6px;
				padding: 5px 8px;
				transition: all 0.3s ease;
				font-family: 'Source Sans Pro';
				font-weight: 400;

				&:hover,
				&:focus,
				&:active {
				 	text-decoration: none;
				 	background-color: $red;
				 	color: #fff;
				}
			} 
		}
		
		// Product price
		h5 {
			margin: 0px;
			padding-bottom: 5px;
			color: $gray;
			font-size: 1.2em;
			font-weight: 300;
		}

		// Product qty / price
		h6 {
			margin: 0px;
			padding-bottom: 5px;
			color: $med-gray;
			font-size: 1.2em;
			font-weight: 300;
			position: relative;
			span {
				text-transform: uppercase;
				letter-spacing: 1px;
				color: $gray;
			}
		}
	}
}