.shopping-cart-panel {
	border: 1px solid rgba($faint-gray, 0.65);
	border-radius: 5px;
	padding: 0;
	margin: 15px 0px;

	.shopping-cart-heading {
		// border-bottom: 1px solid $faint-gray;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		padding: 10px;
		font-size: 1.4em;
		color: $primary;
		font-weight: 500;
		background-color: $light-gray;
		a {
			padding-right: 10px;
			&:hover {
				text-decoration: none;
			}
		}
	}

	.shopping-cart-body {
		padding: 10px;
	}
}