<!-- Products grid-->
<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 ">
	<div class="row">
		<div id="top" class="t-sortFilter hidden-xs">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-6 text-left">
					<h4>
						# per page:
					</h4>
					<select class="form-control"  ng-model="p.itemsPerPage" ng-options="number for number in p.viewByOptions"></select> 
				</div>
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 text-right">
					<h4 >
						Sort by:					
					</h4>
					<a href="" ng-click="p.sortType = 'price'; p.sortReverse = !p.sortReverse">
						<i class="fa fa-caret-up" aria-hidden="true" ng-show="p.sortType == 'price' && !p.sortReverse"></i>
						<i class="fa fa-caret-down" aria-hidden="true" ng-show="p.sortType == 'price' && p.sortReverse"></i>
						<i class="fa fa-eur" aria-hidden="true"></i> 
						Price
					</a>
					<a href="" ng-click="p.sortType = 'business.name'; p.sortReverse = !p.sortReverse">
						<i class="fa fa-caret-up" aria-hidden="true" ng-show="p.sortType == 'business.name' && !p.sortReverse"></i>
						<i class="fa fa-caret-down" aria-hidden="true" ng-show="p.sortType == 'business.name' && p.sortReverse"></i>
						<i class="fa fa-building-o" aria-hidden="true"></i> 
						Company
					</a>
					<a href="" ng-click="p.sortType = 'category.name'; p.sortReverse = !p.sortReverse">
						<i class="fa fa-caret-up" aria-hidden="true" ng-show="p.sortType == 'category.name' && !p.sortReverse"></i>
						<i class="fa fa-caret-down" aria-hidden="true" ng-show="p.sortType == 'category.name' && p.sortReverse"></i>
						<i class="fa fa-gift" aria-hidden="true"></i>
						Category
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 " >
	<!-- Loading bar -->
	<div class="row" ng-hide="p.Loaded">
		<div class="text-center">
			<h2>
				<i class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i>
				Loading products...
		
			</h2>
			
		</div>
	</div>
	<!-- Error bar -->
	<div class="row" ng-show="p.Error">
		<div class="text-center">
			<h2 style="color: red;">
				Error loading products :(
		
			</h2>
			
		</div>
	</div>
	<div class="row is-flex t-product-grid">
		<!-- Product card for each product -->
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" dir-paginate="product in p.productsList | orderBy:p.sortType:p.sortReverse |  filterCategories:p.categoryFilter | filterCountries:p.countryFilter | itemsPerPage: p.itemsPerPage">
			<div class="t-panel" style="margin-left: -10px; margin-right: -10px; ">
				<div class="row">
					<div class="col-md-12 col-xs-5">
						<div class="t-product-img">
							<a href="/products/[[product.id]]">
								<img class="img-responsive" src="/storage/[[product.picture]]">
							</a>
						</div>
					</div>
					<div class="col-md-12 col-xs-7 t-product-details" >
						<a href="/products/[[product.id]]">
							<span class="t-category">
								[[product.category.name]]
							</span>
							<h3 class="t-product-title">
								[[product.name | limitTo : 20]] <span ng-if="product.name.length > 20">...</span>
								<span class="flag-icon flag-icon-[[product.business.country]]"></span> 
							</h3>
							<h2 class="t-price">
								<div ng-hide="product.discount">
									[[product.price | currency  : "€"]]	
								</div>
								
								<div ng-show="product.discount.off_method == 'percent'">
									<strike>
										[[product.price | currency  : "€"]]			
									</strike>
									&nbsp;
									[[product.discount.new_price | currency  : "€"]]
									&nbsp;
									<div class="t-discount" ng-hide="!product.discount">
										[[product.discount.value]] % OFF
									</div>
								</div>
								<div ng-show="product.discount.off_method == 'amount'">
									<strike>	
										[[product.price | currency  : "€"]]			
									</strike>
									&nbsp;
									[[product.discount.new_price | currency  : "€"]]
									&nbsp;
									<div class="t-discount" ng-hide="!product.discount">
										- [[product.discount.value | currency  : "€"]] OFF
									</div>
								</div>
								
							</h2>
							<!-- <div class="t-product-info t-review" style="padding-left: 0px;">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star-o no" aria-hidden="true"></i>
								&nbsp;
								<a href="">
									(13 reviews)					
								</a>
							</div> -->
						</a>
						<hr>
					</div>

					<div class="col-md-12 col-md-offset-0 col-xs-8 col-xs-offset-4">
						<div class="text-center">
							<a target="_self" ng-href="/products/[[product.id]]/addItemToCart" class="btn btn-primary">
								<i class="vionnet vionnet-shopping-bag"></i> &nbsp;
								Add to cart
							</a>
							<a target="_self" ng-href="/wishlist/[[product.id]]/add" class="btn btn-primary">
								<i class="vionnet vionnet-heart"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>	
	<div class="row">
		<dir-pagination-controls max-size="6" on-page-change="p.pageChanged()"></dir-pagination-controls>
	</div>
</div>