<div class="page-title">
	<div class="container">
		<h1 class="text-left">
			About us
		</h1>	
		<div class="clearfix"></div>		
	</div>
</div>
<br>
<div class="container">
	<p>
		[[h.fields.about_text]]
	</p>
</div>
