<div class="page-title">
	<div class="container">
		<h1 class="text-left">
			Products
		</h1>			
	</div>
</div>
<br>
<div class="container" ng-controller="ProductsController as p">	
	<!-- Sidebar -->
	<products-filter></products-filter>
	<!-- Products grid  -->
	<products-grid></products-grid>		
</div>