<main-slider></main-slider>

<div class="container first">
	<h1>
		[[h.fields.intro_heading]]
	</h1>
	<p>
		[[h.fields.intro]]
	</p>
	<div class="row featured">
		<div class="col-md-4 col-sm-6 col-lg-4">
			<a href="[[h.fields.ad_1_link]]">
				<div class="ad">
					<h3>
						[[h.fields.ad_1_text]]
					</h3>
			
					<img class="img-responsive" src="/storage/[[h.fields.ad_1_img]]">
				</div>
			</a>
		</div>
		<div class="col-md-4 col-sm-6 col-lg-4">
			<a href="[[h.fields.ad_2_link]]">
				<div class="ad">
					<h3>
						[[h.fields.ad_2_text]]
					</h3>
					<img class="img-responsive" src="/storage/[[h.fields.ad_2_img]]">
				</div>
				
			</a>
		</div>
		<div class="col-md-4 col-sm-6 col-lg-4">
			<a href="[[h.fields.ad_3_link]]">
				<div class="ad">
					<h3>
						[[h.fields.ad_3_text]]
					</h3>
					<img class="img-responsive" src="/storage/[[h.fields.ad_3_img]]">
				</div>
				
			</a>
		</div>
	</div>
	<h2>
		Featured products
	</h2>
	<div class="featured">
		<div class="row is-flex">
			<div class="col-md-2" ng-repeat="product in h.featuredProducts">
				<div class="item" >
					<a href="/products/[[product.id]]">
						<div style="height: 172px; overflow-y: hidden;">
							<img class="img-responsive" src="/storage/[[product.picture]]">
						</div>
						<h3>
							[[product.name]]
						</h3>
						<p>
							[[product.description | limitTo: 75]][[product.description.length > 75 ? '...' : '']]
						</p>
						<h4 class="t-price">
							<div ng-hide="product.discount">
								[[product.price | currency  : "€"]]	
							</div>
							
							<div ng-show="product.discount.off_method == 'percent'">
								<strike>
									[[product.price | currency  : "€"]]			
								</strike>
								&nbsp;
								[[product.discount.new_price | currency  : "€"]]
								&nbsp;
								<div class="discount" ng-hide="!product.discount">
									[[product.discount.value]] % OFF
								</div>
							</div>
							<div ng-show="product.discount.off_method == 'amount'">
								<strike>	
									[[product.price | currency  : "€"]]			
								</strike>
								&nbsp;
								[[product.discount.new_price | currency  : "€"]]
								&nbsp;
								<div class="discount" ng-hide="!product.discount">
									- [[product.discount.value | currency  : "€"]] OFF
								</div>
							</div>
						</h4>
						
					</a>
					<div class="text-center">
						<a target="_self" ng-href="/products/[[product.id]]/addItemToCart" class="btn btn-primary">
							<i class="icon icon-shopping-basket"></i> &nbsp;
							Add to cart
						</a>
						<a target="_self" ng-href="/wishlist/[[product.id]]/add" class="btn btn-primary">
							<i class="icon icon-heart"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row featured">
		<div class="col-md-4">
			<h4>
				Opening times
			</h4>
			<p class="s-12em">
				[[h.fields.openingclosing]]
			</p>
			<h4>Share on social media</h4>
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=414466878904860";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
			<div class="fb-share-button" data-href="http://www.shopguin.com/[[h.business.slug]]" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>
		</div>
		<div class="col-md-4">
			<h4>
				Address
			</h4>
			<p class="s-12em">
				[[h.business.address1]]
				[[h.business.address2]] <br>
				[[h.business.city]] <br>
				[[h.business.zip_code]] <br>
				[[h.business.country]]
			</p>
		</div>
		<div class="col-md-4">
			<h4>
				Stores
			</h4>
			<ul class="widget">
				<li ng-repeat="store in h.business.stores">
					<a href="#!/stores">
						[[store.name]]
					</a>
				</li>
			</ul>
		</div>
	</div>

</div>
