<div id="featured-products" class="featured owl-carousel owl-theme">
	<div class="item" ng-repeat="product in h.featuredProducts">
		<a href="/products/[[product.id]]">
			<img class="img-responsive" src="/storage/[[product.picture]]">
			<h3>
				[[product.name]]
			</h3>
			<p>
				[[product.description]]
			</p>
			<h4>
				€ [[product.price]]
			</h4>
			
		</a>
		<div class="text-center">
			<button ng-click="h.addToCart(product.id)" class="btn btn-primary">
				<i class="icon icon-shopping-basket"></i> &nbsp;
				Add to cart
			</button>
			<button class="btn btn-primary" ng-click="h.addToWishlist(product.id)">
				<i class="icon icon-heart"></i>
			</button>
			
		</div>
	</div>
</div>