<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3  ">
	<div class="t-sidebar-product-filter hide-sidebar">
		<button class="reveal-button" ng-click="p.revealSidebar()">
			<i class="fa fa-filter"></i>
			Filter
		</button>
		<div class="collapsible ">
			<!-- Category filter -->
			<div class="panel panel-primary " >
				<div class="panel-heading" data-toggle="collapse" data-target="#categories">
					<h4>
						Categories
					</h4>
				</div>
				<div class="panel-body collapse" id="categories">
					<div class="checkbox" ng-repeat="category in p.categoriesList">
						<label>
							<input ng-click="p.addToFilter(category, p.categoryFilter)" type="checkbox" ng-checked="p.exists(category, p.categoryFilter)"> [[category]]
						</label>

					</div>
					<div ng-show="p.categoriesList.length == 0">
						No categories found...
					</div>
				</div>
			</div>
			<!-- Country filter -->
			<div class="panel panel-primary"  >
				<div class="panel-heading" data-toggle="collapse" data-target="#countries">
					<h4>
						Countries
					</h4>
				</div>
				<div id="countries" class="panel-body collapse">
					<div  class="checkbox" ng-repeat="country in p.countriesList">
						<label>
							<input ng-click="p.addToFilter(country, p.countryFilter)" type="checkbox" ng-checked="p.exists(country, p.countryFilter)">
							<div id="countryName">
								<input type="hidden" id="country_name" name="country_name" value="[[country]]">
								[[getCountryName('ph')]]
							</div>
							<span class="flag-icon flag-icon-[[country]]"  style="font-size:1.8em;"></span>
						</label>
					</div>
					<div ng-show="p.countriesList.length == 0">
						No countries found...
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
