<div class="page-title">
	<div class="container">
		<h1 class="text-left">
			Stores
		</h1>			
	</div>
</div>
<div class="container">
	<div class="row">
		<div ng-repeat="store in h.business.stores" class="col-md-4 col-xs-12">
			<h3>
				[[store.name]]
			</h3>
			<p>
				[[store.address]] <br>
				[[store.city]] <br>
				[[store.state]] <br>
				[[store.zip_code]] <br>
				[[store.country]]
			</p>
		</div>
	</div>
</div>