<!-- Products grid-->
<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="row">
				<div id="top" class="sortFilter hidden-xs">
					<div class="row text-right">
						<!-- <div class="col-xs-12 col-sm-12 col-md-5 col-lg-6 text-left hidden-sm">
							<h4>
								Products per page:
							</h4>
							<select class="form-control"  ng-model="p.itemsPerPage" ng-options="number for number in p.viewByOptions"></select> 
						</div> -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
							<h4 >
								Sort by:					
							</h4>
							<select ng-model="p.sortTypeObj" class="form-control">
								<option ng-repeat="item in p.sortTypeOptions track by $index" value="[[$index]]">[[item.label]]</option>
							</select>
							<!-- <a href="" ng-click="p.sortType = 'price'; p.sortReverse = !p.sortReverse">
								<i class="fa fa-caret-up" aria-hidden="true" ng-show="p.sortType == 'price' && !p.sortReverse"></i>
								<i class="fa fa-caret-down" aria-hidden="true" ng-show="p.sortType == 'price' && p.sortReverse"></i>
								<i class="fa fa-eur" aria-hidden="true"></i> 
								Price
							</a>
							<a href="" ng-click="p.sortType = 'business.name'; p.sortReverse = !p.sortReverse">
								<i class="fa fa-caret-up" aria-hidden="true" ng-show="p.sortType == 'business.name' && !p.sortReverse"></i>
								<i class="fa fa-caret-down" aria-hidden="true" ng-show="p.sortType == 'business.name' && p.sortReverse"></i>
								<i class="fa fa-building-o" aria-hidden="true"></i> 
								Company
							</a>
							<a href="" ng-click="p.sortType = 'category.name'; p.sortReverse = !p.sortReverse">
								<i class="fa fa-caret-up" aria-hidden="true" ng-show="p.sortType == 'category.name' && !p.sortReverse"></i>
								<i class="fa fa-caret-down" aria-hidden="true" ng-show="p.sortType == 'category.name' && p.sortReverse"></i>
								<i class="fa fa-gift" aria-hidden="true"></i>
								Category
							</a> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " >
			<!-- Loading bar -->
			<div class="row" ng-hide="p.Loaded">
				<div class="text-center">
					<h2>
						<i class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i>
						Loading products...
				
					</h2>
					
				</div>
			</div>
			<!-- Error bar -->
			<div class="row" ng-show="p.Error">
				<div class="text-center">
					<h2 style="color: red;">
						Error loading products :(
					</h2>
				</div>
			</div>
			<div class="row is-flex product-grid">
				<div class="breakpoint-indicator"></div>
				<!-- Product card for each product -->
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" dir-paginate="product in p.productsList | orderBy:p.getSort(p.sortTypeOptions, p.sortTypeObj, 'slug'):p.getSort(p.sortTypeOptions, p.sortTypeObj, 'order')| filterCompanies:p.companyFilter  |  filterCategories:p.categoryFilter | filterCountries:p.countryFilter | itemsPerPage: p.itemsPerPage">
					<div class="box-light">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-4 product-img">
								<a href="/products/[[product.id]]">
									<img class="img-responsive" src="/storage/[[product.picture]]">
									<div class="img-bg"></div>
								</a>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-8 product-details" ">
								<a href="/products/[[product.id]]">
									<span class="category">
										[[product.category.name]]
									</span>
									<h3 class="product-title">
										[[product.name | limitTo : 18]] <span ng-if="product.name.length > 18">...</span>
										<span class="flag-icon flag-icon-[[product.business.country]]"></span> 
									</h3>
									<h6 class="company">
										[[product.business.name]]
									</h6>
									<h2 class="price">
										<div ng-hide="product.discount">
											[[product.price | currency  : "€"]]	
										</div>
										
										<div ng-show="product.discount.off_method == 'percent'">
											<strike>
												[[product.price | currency  : "€"]]			
											</strike>
											&nbsp;
											[[product.discount.new_price | currency  : "€"]]
											&nbsp;
											<div class="discount" ng-hide="!product.discount">
												[[product.discount.value]] % OFF
											</div>
										</div>
										<div ng-show="product.discount.off_method == 'amount'">
											<strike>	
												[[product.price | currency  : "€"]]			
											</strike>
											&nbsp;
											[[product.discount.new_price | currency  : "€"]]
											&nbsp;
											<div class="discount" ng-hide="!product.discount">
												- [[product.discount.value | currency  : "€"]] OFF
											</div>
										</div>
									</h2>
									<!-- <div class="product-info rating" style="padding-left: 0px;">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star-o no" aria-hidden="true"></i>
										&nbsp;
										<a href="">
											(13 reviews)					
										</a>
									</div> -->
								</a>
								<hr>
							</div>

							<div class="col-md-12 col-sm-12 col-sm-offset-0 col-md-offset-0 col-xs-8 col-xs-offset-4 product-buy">
								<div class="text-center">
									<a target="_self" ng-href="/products/[[product.id]]/addItemToCart" class="btn btn-primary">
										<i class="icon icon-shopping-basket hidden-xs"></i> &nbsp;
										Add to cart
									</a>
									<a target="_self" ng-href="/wishlist/[[product.id]]/add" class="btn btn-red">
										<i class="icon icon-heart"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>	
			<div class="row">
			[[productsFiltered.length]]
				<dir-pagination-controls max-size="6" on-page-change="p.pageChanged()"></dir-pagination-controls>
				<!-- <ul uib-pagination total-items="p.productsList.length" ng-model="p.currentPage" ng-change="p.pageChanged()" class="pagination-sm" items-per-page="p.itemsPerPage" boundary-link-numbers="true" max-size="5" ></ul > -->
			</div>
		</div>
		
	</div>
</div>