<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 hidden-sm">
	<div class="sidebar-product-filter hide-sidebar">
		<div id="collapse-sidebar" class="hidden-sm hidden-md hidden-lg" ng-click="p.hideSidebarOverlay()">
			<button>
				<i class="fa fa-filter" aria-hidden="true"></i> Filter	
			</button>
		</div>

		<div class="collapsible hidden-sm hidden-xs">
			<h3 class="margin-top: 0px;">
				Refine products by
			</h3>

			<!-- Category filter -->
			<div class="accordion"  data-toggle="collapse" data-target="#_categories" href="">
				<h2 class="filter-title">
					<i class="fa fa-angle-right fa-lg"></i> &nbsp;
					Categories
				</h2>
			</div>
			<div id="_categories" class="collapse accordion-slidedown">
				<div class="checkbox" ng-repeat="category in p.categoriesList">
					<label>
						<input ng-click="p.addToFilter(category, p.categoryFilter)" type="checkbox" ng-checked="p.exists(category, p.categoryFilter)"> {{category}}
					</label>

				</div>
				<div ng-show="p.categoriesList.length == 0">
					No categories found...
				</div>
			</div>


			<!-- Company filter -->
			<div class="accordion"  data-toggle="collapse" data-target="#_companies" href="">
				<h2 class="filter-title">
					<i class="fa fa-angle-right fa-lg"></i> &nbsp;
					Companies
				</h2>
			</div>
			<div id="_companies" class="collapse accordion-slidedown">
				<div class="checkbox" ng-repeat="company in p.companiesList">
					<label>
						<input ng-click="p.addToFilter(company, p.companyFilter)" type="checkbox" ng-checked="p.exists(company, p.companyFilter)"> 
						{{company}}
					</label>
				</div>
				<div ng-show="p.companiesList.length == 0">
					No companies found...
				</div>
			</div>

			<!-- Country filter -->
			<div class="accordion"  data-toggle="collapse" data-target="#_countries" href="">
				<h2 class="filter-title">
					<i class="fa fa-angle-right fa-lg"></i> &nbsp;
					Countries
				</h2>
			</div>
			<div id="_countries" class="collapse accordion-slidedown">
				<div class="checkbox" ng-repeat="country in p.countriesList">
					<label>
						<input ng-click="p.addToFilter(country, p.countryFilter)" type="checkbox" ng-checked="p.exists(country, p.countryFilter)">
						<div id="countryName">
							<input type="hidden" id="country_name" name="country_name" value="{{country}}">
							{{getCountryName('ph')}}
						</div>
						<span class="flag-icon flag-icon-@{{country}}"  style="font-size:1.8em;"></span>
					</label>
				</div>
				<div ng-show="p.countriesList.length == 0">
					No countries found...
				</div>
			</div>
		</div>
	</div>

</div>

<div class="product-filter-overlay slide-out">
	<button class="btn btn-primary btn-inverse" ng-click="p.hideSidebarOverlay()">
		Close filter
	</button>
	<h3 class="margin-top: 0px;">
		Refine products by
	</h3>

	<!-- Category filter -->
	<div class="accordion"  data-toggle="collapse" data-target="#categories" href="">
		<h3 class="filter-title">
			<i class="fa fa-angle-right fa-lg"></i> &nbsp;
			Categories
		</h3>
	</div>
	<div id="categories" class="collapse accordion-slidedown">
		<div class="checkbox" ng-repeat="category in p.categoriesList">
			<label>
				<input ng-click="p.addToFilter(category, p.categoryFilter)" type="checkbox" ng-checked="p.exists(category, p.categoryFilter)"> {{category}}
			</label>

		</div>
		<div ng-show="p.categoriesList.length == 0">
			No categories found...
		</div>
	</div>


	<!-- Company filter -->
	<div class="accordion"  data-toggle="collapse" data-target="#companies" href="">
		<h3 class="filter-title">
			<i class="fa fa-angle-right fa-lg"></i> &nbsp;
			Companies
		</h3>
	</div>
	<div id="companies" class="collapse accordion-slidedown">
		<div class="checkbox" ng-repeat="company in p.companiesList">
			<label>
				<input ng-click="p.addToFilter(company, p.companyFilter)" type="checkbox" ng-checked="p.exists(company, p.companyFilter)"> {{company}}
			</label>
		</div>
		<div ng-show="p.companiesList.length == 0">
			No companies found...
		</div>
	</div>

	<!-- Country filter -->
	<div class="accordion"  data-toggle="collapse" data-target="#countries" href="">
		<h3 class="filter-title">
			<i class="fa fa-angle-right fa-lg"></i> &nbsp;
			Countries
		</h3>
	</div>
	<div id="countries" class="collapse accordion-slidedown">
		<div class="checkbox" ng-repeat="country in p.countriesList">
			<label>
				<input ng-click="p.addToFilter(country, p.countryFilter)" type="checkbox" ng-checked="p.exists(country, p.countryFilter)">
				<div id="countryName">
					<input type="hidden" id="country_name" name="country_name" value="{{country}}">
					{{getCountryName('ph')}}
				</div>
				<span class="flag-icon flag-icon-{{country}}"  style="font-size:1.8em;"></span>
			</label>
		</div>
		<div ng-show="p.countriesList.length == 0">
			No countries found...
		</div>
	</div>
</div>
