// Shopguin Business Theme
// Capsule
// Ismail Uddin, 2017
// www.shopguin.com

// Fonts
@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');
@font-face {
    font-family: Onramp;
    src: url(templates/capsule/fonts/onramp.ttf);
}

//  Variables
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

// Antebox Business Template - Agnolotti
@import "templates/capsule/main";
@import "templates/capsule/hamburger";
@import "templates/capsule/buttons";
@import "templates/capsule/products";
