
.btn {
	transition: all 0.3s ease;
	border: none;
	font-family: 'Quicksand';
	i {
		// vertical-align: baseline !important;
	}
	&:hover,
	&:active,
	&:focus {
		border: none;
	}
}

.btn-xs {
	border-radius: 25px !important;
	border: none;
	padding: 2px 10px;

	&:hover,
	&:active,
	&:focus {
		border: none;
	}
}

.btn-lg {
	border-radius: 50px;
}

.btn-red {
	$r600: #E53935;
	background-color: $r600;
	color: #fff;
	transition: all 0.3s ease;

	&:hover,
	&:focus,
	&:active {
		background-color: darken($r600, 12);
		color: #fff;
	}
}

.btn-green {
	$r600: #E53935;
	background-color: $green;
	color: #fff;
	transition: all 0.3s ease;

	&:hover,
	&:focus,
	&:active {
		background-color: darken($green, 12);
		color: #fff;
	}
}



.social-login {
	border-radius: 3px;
	font-size: 1.4em;
	font-family: 'Raleway';
	font-weight: 700;
	margin-bottom: 20px;

	&.fb {
		background-color: #3b5998 !important;
	}

	&.g {
		background-color: #dd4b39 !important;
	}
}

.btn-sq {
	border-radius: 0px;
	margin-top: 10px;
}