ul.contacts-list {
	list-style: none;
	padding-left: 0px;
	margin-left: -15px;
	margin-top: -15px;
	margin-bottom: -15px;
	border-right: 1px solid $faint-gray;
	min-height: 450px;
	max-height: 450px;
	overflow-y: scroll;

	h4 {
		padding: 20px;
	}

	li {
		padding: 0px;
		
		&:not(:first-child):not(:last-child){
			border-bottom: 1px solid $faint-gray;
		}
		
		&:first-child {
			border-top: 1px solid $faint-gray;
		}

		&:last-child {
			border-bottom: 1px solid $faint-gray;
		}
		
		&:hover {
			background-color: rgba($med-gray, 0.05);
		}

		&.active {
			background-color: $primary;

			&:not(:first-child):not(:last-child){
				border: none;
				border-left: 1px solid $primary;
				border-right: 1px solid $primary;
			}
			a {
				color: #fff;
				&:hover, &:focus, &:active {
					color: #fff;
				}
			}
		}

		a {
			padding: 15px;
			display: block;
			padding-left: 25px;
			font-size: 1.2em;
			font-weight: 500;

			&:hover,
			&:focus,
			&:active {
				text-decoration: none;
			}
		}
	}
}

ul.chat-window {
	margin-right: -15px;
	margin-top: -15px;
	margin-bottom: -15px;
	@media(max-width: $grid-float-breakpoint-max){
		margin-top: 5px;
	}
	padding: 15px;
	list-style: none;
	padding-left: 0px;
	min-height: 395px;
	max-height: 395px;
	overflow-y: scroll;


	li {
		display: block;
		padding: 0px;
		margin: 0px;
		margin-bottom: 20px;

		a {
			margin-top: 15px;
			margin-bottom: 15px;
			
		}
		
		.timestamp {
			padding-top: 15px;
			font-size: 0.9em;
			color: $gray;
		}
	}

	li.left {
		text-align: left;
		.message {
			padding: 10px;
			border-radius: 15px;
			background-color: $primary;
			color: #fff;
			display: inline-block;

		}
	}

	li.announcement {
		text-align: center;
		.message {
			padding: 10px;
			border-radius: 15px;
			background-color: $green;
			color: black;
			word-wrap: pre-line;
			display: inline-block;
		}
		margin-top: 10px;
		margin-bottom: 10px;
	}

	li.right {
		text-align: right;
		.message {
			padding: 10px;
			border-radius: 15px;
			background-color: darken($vlight-gray, 5%);
			color: black;
			display: inline-block;
		}
	}
}

.msg-window {
	margin-right: -15px;
	margin-left: -15px;
	margin-bottom: -15px;
	margin-top: 5px;
	padding: 15px;
	input[type="text"] {
		border: 1px solid $faint-gray !important;
		margin: 0px !important;
		font-size: 0.9em !important;
	}
	button {
		border-radius: 5px;
		width: 100%;
	}
}