.dashboard {

	.sidebar {
		border-right: 1px solid $faint-gray;
		@media(max-width: $grid-float-breakpoint-max){
			margin-top: 75px;
			padding-bottom: 10px;
			border-bottom: 1px solid $faint-gray;
		}

		h4 {
			a {
				text-decoration: none;
				&:hover {
					color: lighten($primary, 10%);
				}
			}
			padding-bottom: 15px;
			margin-bottom: 15px;
			border-bottom: 1px solid $faint-gray;
		}
		.nav-stacked {
			li {	
				a {
					transition: all 0.3s ease;
				}

				&.active {
					a {
						background-color: #fff;
						border-left: 5px solid $primary;
						padding-left: 10px;
						color: $primary;
						border-radius: 0px;
					}
				}

				&:hover {
					a {
						border-radius: 0px;
						background-color:  lighten($faint-gray, 8%);
						color: $primary;
					}
				}

				a {
					font-weight: 700;
					font-size: 1.15em;
				}

			}
			ul {
				li {
					list-style: none;
					padding-top: 10px;
					padding-bottom: 10px;

					a {
						background: none;
						font-weight: 700;
						font-size: 1em;
					}

					&:hover {
						a {
							background: none;
							color: lighten($primary, 10%);
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	.main-content {
		padding-left: 50px
		;
		@media(max-width: $grid-float-breakpoint-max){
			padding-left: 20px;
			padding-top: 25px;
		}



		h2 {
			margin-top: 5px;
			p {
				font-size: 1.2em;
				font-weight: 300;
			}
		}

		p {
			font-weight: 300;
			color: $med-gray;
			font-size: 1.15em;
			line-height: 1.5;
		}

		.side-info {
			@media(min-width: $grid-float-breakpoint-max){
				border-left: 1px solid $faint-gray;
			}
		}
	}
}
