#deliveries-map {
	margin-top: -20px;
	width: 100%;
	height: 500px;
	margin-bottom: 25px;
}



.delivery-requests {
	.panel {
		border-radius: 3px;
		border: 1px solid $faint-gray;
		box-shadow: none;
		margin: 10px;
		@media(max-width: $grid-float-breakpoint-max){
			margin: 10px 0px;
		}
		transition: all 0.3s ease;
		min-height: 200px;

		

		.body {
			margin-left: 0px !important;
			margin-right: 0px !important;
			@media(min-width: $grid-float-breakpoint-max){
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: horizontal;
				-webkit-box-direction: normal;
				-ms-flex-direction: row;
				        flex-direction: row;
			}

			.details {
				padding: 15px;

				.request-profile {
					font-size: 1.1em;
					padding-bottom: 10px;
					border-bottom: 1px solid rgba($faint-gray, 0.3);

				}
				.request-profile-img {
					border-radius: 100px;
					width: 35px;
					height: auto;
					margin-right: 15px;
				}	

				.business-name {
					color: $primary;
					font-weight: 300;
					font-size: 1.7em;
					margin-top: 15px;
				}

				.summary {
					font-weight: 300;
					color: $med-gray;
					font-size: 1.2em;
					padding-top: 15px;
					padding-bottom: 15px;
					border-top: 1px solid rgba($faint-gray, 0.3);
					border-bottom: 1px solid rgba($faint-gray, 0.3);
					margin: 5px 0px;

					span {
						color: $gray;
						text-transform: uppercase;
						letter-spacing: 1px;
						font-size: 1em;
						padding-right: 10px;

						&:not(:first-child) {
							margin-left: 5px;
							&:before {
								content: '|';
								display: inline-block;
								color: rgba($faint-gray, 0.3);
							} 
						}
					}
				}

				.delivery-details {
					border-bottom: 1px solid rgba($faint-gray, 0.3);
					margin-left: 0px !important;
					margin-right: 0px !important;
					margin-bottom: 10px;

					h6 {
						text-transform: uppercase;
						letter-spacing: 1px;
						font-weight: 300;
						font-size: 1em;
						margin-top: 3px;
					}

					h4 {
						font-weight: 300;
						color: $med-gray;
						font-size: 1.2em;
					}
				}

				.earn {
					font-size: 1.4em;

					@media(max-width: $grid-float-breakpoint-max){
						margin-bottom: -10px;
					}
					
					.btn-delivery {
						// float: right;
						padding: 5px 10px;
						// margin-right: 15px;
						border: 1px solid $primary;
						font-size: 0.8em;
						border-radius: 30px;
						transition: all 0.3s ease;
						@media(max-width: $grid-float-breakpoint-max){
							margin-bottom: 10px;
						}

						i {
							// font-size: 1.3em;
						}

						&:hover {
							background-color: $primary;
							color: #fff;
						}
					}
				}
			}
		}

		

		
	}
}