footer {
	border-top: 1px solid $faint-gray;
	background-color: $light-gray;
	min-height: 350px;
	padding-top: 25px;

	.footer-logo {
		height: 40px;
		width: auto;
		filter: grayscale(100%);
		margin-bottom: 10px;
		z-index: 3;
	}

	h4 {
		font-family: 'Roboto Condensed';
		font-weight: 700;
		color: $primary;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 1.2em;
		margin-bottom: 5px;
	}

	ul {
		margin-top: 5px;
		list-style: none;
		padding-left: 0px;
		width: 100%;

		li {
			border-bottom: 1px solid lighten($faint-gray, 2%);
			padding-top: 10px;
			padding-bottom: 10px;
			a {
				display: block;
				font-weight: 400;
				font-size: 1.1em;
				color: lighten($med-gray, 15%);
				transition: all 0.3s ease;

				&:hover {
					text-decoration: none;
				}
			}
			span {
				font-weight: 900;
				color: $med-gray;
				font-family: 'Raleway';
			}
		}
	}

	ul.social-media {
		list-style: none;
		display: inline-block;

		li {
			float: left;
			border-bottom: 0px;

			&:first-child {
				padding-left: 10%;
			}

			&:not(:last-child) {
				padding-right:10%;
				border-right: 1px solid $faint-gray;
				margin-right: 10%;
			}

			a {
				border-bottom: 0px;
				font-size: 2em;
				
			}

		}
	}
}