.fpage {
	h2 {
		// text-transform: uppercase;
		font-family: 'Quicksand';
		position: relative;

		&:after {
			width: 150px;
			height: 2px;
			background-color: $faint-gray;
			margin: 15px auto;
			display: block;
			content: '';
		}
	}
}

.top-slider {
	width: 100%;
	overflow: hidden;

	.slider {
		@media(max-width: $grid-float-breakpoint-max){
			min-height: 200px;
		}
		.slider-content {
			position: absolute;
			z-index: 5;
			width: 100%;
			top: 0;
			@media(max-width: $grid-float-breakpoint-max){
				// position: static;
				// background-color: #fff288;
				// background: url('/img/frontpage/slider/frontpage-slider-bg.png')
			}
			@media(min-width: $grid-float-breakpoint-max){
				padding-right: 3%;
				padding-left: 3%;
				padding-top: 1.2%;
				width: 70vw;
			}

			h1 {
				background-color: $primary;
				color: #FFF;
				padding: 10px;
				display: inline-block;
				font-family: 'Quicksand';
				font-weight: 300;
				@media(min-width: $screen-lg){
					font-size: 4em;
				}
				@media(max-width: $grid-float-breakpoint-max){
					font-size: 1.5em;
				}
				@media(max-width: $screen-sm){
					font-size: 2em;
				}
				@media(max-width: $screen-md){
					font-size: 2.4em;
				}
				// box-shadow: 4px 4px 8px rgba($primary, 0.5);
			}

			h2 {
				background-color: #FFF;
				padding: 16px;
				display: inline-block;
				font-family: 'Quicksand';
				font-weight: 500;
				color: $med-gray;
				margin-left: 15px;
				@media(min-width: $screen-lg){
					font-size: 2.5em;
				}
				@media(max-width: $screen-md){
					font-size: 1.8em;
				}
				@media(max-width: $screen-sm){
					font-size: 1.4em;
				}
				@media(max-width: $grid-float-breakpoint-max){
					font-size: 1.1em;
					background-color: rgba(white, 0.9);
				}
			}

		}

		img {
			position: relative;
			@media(max-width: $grid-float-breakpoint-max){
				height: 200px;
				width: auto;
				max-width: inherit;
			}
		}
		
	}
}

.section-img {
	height: auto;
	padding: 25px;
	background: url('/img/frontpage/bg.jpg');
	&-overlay {
		// position: absolute;
		z-index: 5;
		width: 100%;

		h2, h3 {
			margin-top: 0;
			display: inline-block;
			background-color: #FFF;
			padding: 15px;
		}

		h3 {
			font-weight: 600;
			color: $med-gray;
			margin-bottom: 10px;
		}
	}

	
}


.featured {
	.item {
		// padding: 15px;
		// min-height: 325px;
		max-width: 375px;
		@media(max-width: $grid-float-breakpoint-max){
			max-width: 320px;

			.box-light {
				padding: 15px 5px !important;
			}
		}

	

	}
}



.featured-ads {
	padding-top: 50px;
	padding-bottom: 50px;

	.ad {
		@media(max-width: $grid-float-breakpoint-max){
			margin-bottom: 25px;			
		}

		transition: all 0.3s ease;

		&:hover {
			opacity: 0.8;
		}

		img {
			width: auto;
			height: auto;
		}
	}
}

.featured-blocks {
	background-color: rgba($gray, 0.10);
	.block {
		
		padding-right: 10px;
		color: #fff;
		padding: 15px;
		border-radius: 4px;
		margin-bottom: 15px;
		
		h1 {
			font-size: 4.8em;

		}

		h2 {
			color: $primary;
			font-family: 'Quicksand';
			font-size: 1.6em;
			font-weight: 300;
			@media(max-width: $grid-float-breakpoint-max){
				font-size: 1.2em;
			}
		}

		h4 {
			font-family: 'Raleway';
			font-weight: 400;
			color: rgba($med-gray, 0.7);
			font-size: 1.4em;
			line-height: 30px;
			@media(max-width: $grid-float-breakpoint-max){
				font-size: 1.2em;
			}
		}

	}
}