//  General styles
.first {
	@media(max-width: $grid-float-breakpoint){
		padding-top: 70px;
	}
}

.mt-20 {
	@media(min-width: $grid-float-breakpoint-max){
		margin-top: -20px;
	}
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

section.grey {
	background-color: $vlight-gray;
	// margin-top: -20px;
	padding-top: 20px;
}

body {
	font-weight: 400 !important;
}

.intro {
	// background: #56CCF2; /* fallback for old browsers */
	// background: -webkit-linear-gradient(to left, #56CCF2 , #2F80ED); /* Chrome 10-25, Safari 5.1-6 */
	// background: linear-gradient(to left, #fff , $primary); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	@media(min-width: $grid-float-breakpoint-max){
		margin-top: -20px;
	}

	margin-bottom: 15px;

	h1 {
		font-weight: 300;
		font-size: 3.6em;
		@media(max-width: $grid-float-breakpoint-max){
			font-size: 2.7em;
		}
		margin: 30px 0px;
	}
	h2 {
		font-weight: 600;
		// font-size: 1.6em;
	}

	p {
		font-size: 1.1em;
	}
}

.pagination {
	margin-left: 15px;
	li {	
		a {
			font-family: 'Quicksand';
			font-weight: 700;
			font-size: 1.2em;
		}
		&:first-child {
			a {
				border-top-left-radius: 50px;
				border-bottom-left-radius: 50px;
			}
		}
		&:last-child {
			a {
				border-top-right-radius: 50px;
				border-bottom-right-radius: 50px;
			}
		}
	}
}

ul.timeline-steps {
	width: 98%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	position: relative;
	padding: 0px;

	&.mobile {
		margin-bottom: 35px;
		li {
			width: 30px !important;
			height: 30px !important;
			padding: 3px 6px !important;
			font-size: 1em;

			> span {
				font-size: 0.7em;
				top: 33px;
			}

			&:not(:last-child) {
				span {
					left: 0;
				}
			}
			
			&:nth-child(3) {
				span {
					right: 0 !important;
					left: inherit;
				}
			}
		}

		.progress-bar {
			height: 6px;
		}

		.bar {
			height: 6px;
		}


	}

	li {
		background-color: $faint-gray;
		width: 50px;
		height: 50px;
		border-radius: 50px;
		color: #fff;
		font-size: 2em;
		padding: 5px 10px;
		position: relative;
		z-index: 5;



		&.active {
			background-color: $primary !important;
		}

		> span {
			position: absolute;
			color: #000;
			font-size: 0.6em;
			top: 65px;
			left: 0;
			@media(max-width: $grid-float-breakpoint-max){
				font-size: 0.45em;
			}
		}
	}
	
	.progress-bar {
		position: absolute;
		width: 80%;
		height: 10px;
		background-color: $primary;
		z-index: 2;
		left: 2px;
		top: 20px;
		@media(max-width: $grid-float-breakpoint-max){
			top: 40%;
		}
	}

	.bar {
		position: absolute;
		width: 99%;
		height: 10px;
		background-color: $faint-gray;
		z-index: 1;
		left: 2px;
		top: 20px;
		@media(max-width: $grid-float-breakpoint-max){
			top: 40%;
		}
	}
}


.sidebar-info {
	padding-left: 25px;
	border-left: 1px solid $faint-gray;

	&.white {
		border: none !important;
		padding: 15px;
		background-color: #FFF;
	}
}

.accordion {
	cursor: pointer;
	
	&[aria-expanded="false"]  i {
		transition: all 0.3s ease;
		-webkit-transform: rotate(0deg);		
		transform: rotate(0deg);
	}
	&[aria-expanded="true"] i {
		transition: all 0.3s ease;
		-webkit-transform: rotate(90deg);		
		transform: rotate(90deg);
	}
}

.profile-img {
	border-radius: 100px;
	width: 35px;
	height: auto;
	margin-right: 15px;
}

.profile-img-65 {
	border-radius: 100px;
	width: 65px;
	height: auto;
	margin-right: 15px;
}

.info-bar {
	border-radius: 3px;
	padding: 15px 25px;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	&.green {
		background-color: $green;
	}



	&.orange {
		background-color: $orange;
	}
}


///////////////////////////////////////////
///// 			TYPOGRAPHY 			//////
//////////////////////////////////////////

// Generic styles
h3.info {
	font-weight: 500;
	font-size: 1.2em;
	letter-spacing: 1px;
	color: black;
	line-height: 22px;
	span {
		text-transform: uppercase;
		color: $gray;
	}
}


// Font weights
.w300 {
	font-weight: 300 !important;
}

.w500 {
	font-weight: 500 !important;
}

// Font families
.qs {
	font-family: 'Quicksand';
	letter-spacing: 0px;
}

// Font colours
.c-primary {
	color: $primary !important;
}
.c-black {
	color: #000 !important;
}

.c-white {
	color: #fff !important;
}

.c-red {
	color: $red !important;
}

.c-gray {
	color: $gray !important;
}

.c-green {
	color: $green !important;
}

.c-med-gray {
	color: $med-gray !important;
}

// Font sizes
.s-4em {
	font-size: 4em !important;
	@media(max-width: $grid-float-breakpoint-max) {
		font-size: 2.5em !important;
	}
}

.s-14em {
	font-size: 1.4em !important;
}

.s-13em {
	font-size: 1.3em !important;
}

.s-12em {
	font-size: 1.2em !important;
}

.s-11em {
	font-size: 1.1em !important;
}

.lh {
	line-height: 26px;
}


// Margins
.no-vm {
	margin-top: 0px;
	margin-bottom: 0;
}

.mt-50 {
	margin-top: 50px;
}

.mt-30 {
	margin-top: 30px;
}

.mt--20 {
	margin-top: -20px;
}

// Font style
.spread {
	text-transform: uppercase;
	letter-spacing: 1px;
}


// Layout
.box-shadow {
	background-color: #fff;
	padding: 15px;
	border-radius: 3px;
	margin: 15px 5px;
	box-shadow: 0px 2px 6px rgba(black, 0.10);
}

.box-light {
	padding: 15px;
	border: 1px solid $faint-gray;
	margin-bottom: 15px;
	border-radius: 5px;
	border-radius: 2px;
	background-color: #FFF;
	transition: all 0.3s ease;

	&.hover-fx {
		&:hover {
			// border: 1px solid rgba($primary, 0.5);
			box-shadow: 0px 20px 10px -16px rgba($dark-gray, 0.35);
		}
	}



	.blue-header {
		margin: -15px;
		margin-bottom: 15px;
		padding: 15px;
		background-color: $primary;
		transition: all 0.3s ease;

		&:hover {
			background-color: lighten($primary, 12%);
		}

		h2 {
			font-family: 'Quicksand';
			color: white;
			font-size: 1.6em;
			margin: 10px 0;

		}

	}
	
	p.desc {
		font-family: 'Quicksand';
		font-size: 1.15em;
		font-weight: 400;
		color: $med-gray;

	}

	a, a:hover, a:focus, a:active {
		text-decoration: none;
	}

	h3.info {
		font-weight: 500;
		font-size: 1.2em;
		letter-spacing: 1px;
		color: black;
		line-height: 22px;
		padding: 5px 0px;
		line-height: 24px;
		span {
			text-transform: uppercase;
			color: $gray;
		}
	}

	h2.info {
		font-weight: 500;
		font-size: 1.4em;
		letter-spacing: 1px;
		color: black;
		line-height: 22px;
		padding: 5px 0px;
		line-height: 24px;
		border-top: 1px solid $faint-gray;
		span {
			text-transform: uppercase;
			color: $gray;
		}
	}

	.header {
		margin: -15px -15px;
		margin-bottom: 10px;
		padding: 15px;
		background-color: $light-gray;
		color: $primary;
		font-weight: 500;
		
		&.green {
			background-color: $green !important;
		}

		&.blue {
			background-color: $primary;
		}
		
	}

	.info-bar {
		margin: 0px -15px;
		padding: 15px;
		background-color: $orange;
		font-weight: 500;
		border-radius: 0px;
		margin-top: -10px;
		color: white;
	}

	.footer {
		margin: -15px -15px;
		margin-top: 10px;
		padding: 15px;
		background-color: $light-gray;
		color: $primary;
		font-weight: 500;

		&.green {
			background-color: $green !important;
		}
	}
}

.scrollable-container {
	max-height: 550px;
	overflow-y: scroll;
	@media(max-width: $grid-float-breakpoint-max){
		padding: 15px;
		max-height: 200px;
		border-radius: 3px;
		border: 1px solid $faint-gray;
		box-shadow: inset 0px 2px 6px rgba(black, 0.05);
	}
}

.is-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	& > [class*='col-'] {
		
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		        flex-direction: column;
		> .panel {
			min-height: 300px;
		}
	}
}

