.control-label {
	color: rgba(black, 0.9);
	font-weight: 500;
	@media(min-width: $grid-float-breakpoint-max){
		padding: 20px;
		padding-top: 15px !important;
	}
	font-size: 1.1em;
	// height: 49px;
}

label {
	font-size: 1.2em;
	font-weight: 500;
	padding-right: 15px;

	&.error {
		color: $red;
	}
}

.form-control,
input:not([type=submit]):not([type=file]):not([type=checkbox]):not([type=search]),
select {
	border: 1px solid $faint-gray;
	border-radius: 3px;
	padding: 8px;
	height: auto;
	color: #000;
	font-size: 1.2em;
	font-weight: 400;
	outline: none;
	width: 100%;
	margin: 10px 0px;
	transition: all 0.3s ease;
	box-shadow: none;

	&.input-sm {
		border: 2px solid $faint-gray !important;
		border-radius: 4px !important;
		padding: 2px 5px !important;
		margin: 5px 0px !important;
		font-size: 0.9em;
	}

	&:hover {
		border: 1px solid $gray;
	}

	&.has-error {
		border: 1px solid $red;
	}

	&:active,
	&:focus {
		box-shadow: none;
		border: 1px solid rgba($primary, 0.55);
	}
}	

.large-radio {
	margin: 10px 0px;
	padding: 20px 10px;
	border: 1px solid $faint-gray;
	border-radius: 3px;
	display: block;
	font-weight: 700;
	
	span {
		font-size: 1em;
		font-weight: 400;
	}

	&:hover, &:focus {
		border-color: $gray;
	}

	&+input[type="radio"]:checked {
		border-color: $primary;
	}


	input[type="radio"] {
		display: inline-block !important;
		width: inherit !important;
	}
}


.form-group {
	input[type=file] {
		display: none;
	}
	&.has-error {
		input:not([type=submit]):not([type=file]) {
			border: 1px solid $red;
		}
	}

	.file-upload {
		border: 0px;
		border-radius: 5px;
		background-color: $primary;
		padding: 10px !important;
		height: auto;
		color: #fff;
		font-size: 1.2em;
		font-weight: 600;
		cursor: pointer;
		display: inline-block;
	}
}

.input-group {
	margin-top: 10px;
	margin-bottom: 10px;
	.input-group-addon {
		border: 3px solid $faint-gray;
		border-right: 0px;
	}

	input[type=text] {

		margin-top: 0px !important;
		margin-bottom: 0px !important;
		border-top-left-radius: 0px !important;
		border-bottom-left-radius: 0px !important;
	}
}

.selectBox {
	border: 3px solid $faint-gray;
	border-radius: 5px;
	padding: 8px;
}