.meeting-point-modal > .modal-dialog {
	@media(min-width: 960px){
		width: 850px;
	}
}

.modal-content {
	border-radius: 3px;
	box-shadow: 0px 5px 80px rgba($primary, 0.55);
	@media(min-width: $grid-float-breakpoint-max){
		padding: 25px;
	}

	.modal-header {
		border-bottom: 0px; 

		.close {
			font-size: 2.5em;
		}

		.modal-title {
			font-size: 2em;
			font-weight: 300;
			font-family: 'Lato';
		}
	}

	.modal-footer {
		text-align: center;
		border-radius: 0px 0px 3px 3px;

		border-top: 0px;
		background-color: darken($light-gray,  2%);
		p {
			margin-top: 10px;

			.btn-register {
				border-radius: 25px;
				font-weight: 500;
				border: 1px solid $primary;
				transition: all 0.3s ease;
				margin: 5px 0px;

				&:hover {
					background-color: $primary;
					color: #fff;
				}
			}
		}
	}
}

.modal-backdrop {
	background-color: $primary;

	&.in {
		opacity: 0.85;
	}
}