.navbar-mobile {
	background-color: lighten($faint-gray, 8%);
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	z-index: 999;
	width: 100vw;
	border-bottom: 1px solid $faint-gray !important;

	.m-navbar {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-flex: no-wrap;
		-ms-flex: no-wrap;
		flex: no-wrap;

		.m-text-left {
			-webkit-box-flex: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
		}

		.m-logo {
			-webkit-box-flex: 15;
			-ms-flex-positive: 15;
			flex-grow: 15;
			.navbar-logo {
				height: 50px;
				width: auto;
				display: inline-block;
			}
		}
		.m-icon-btn {
			-webkit-box-flex: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
			
		}
	}


	.m-search {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		box-shadow: none;
		border-radius: none;
		border: none;
		height: 45px;
		width: 45px;
		border-radius: 60px;
		font-size: 1em;
		outline: none;
		// padding-left: 5px;
		margin-left: 15px;
		background-color: lighten($faint-gray, 8%);
		color: $primary;
		border: 1px solid $faint-gray;

	}

}

.m-nav-overlay {
	width: 100vw;
	height: 0%;
	top: 0;
	position: fixed;
	opacity: 0;
	z-index: 995;
	background-color: lighten($faint-gray, 8%);
	transition: all 0.5s ease;
	padding: 20px;
	padding-top: 80px;
	pointer-events: none;
	color: $primary;
	display: none;
	
	h4 {
		color: $primary;
		font-weight: 700;
		font-family: 'Source Sans Pro';
	}
	&.overlay-open {
		height: 100%;
		display: static;
		opacity: 0.98;
		pointer-events: auto;
	}

	.m-slidedown-btn {
		color: $primary;
		font-family: 'Raleway';
		font-weight: 500;
		padding-bottom: 8px;
		margin-bottom: 0px;
		border-bottom: 1px solid $faint-gray;

		small {
			color: #fff;
			font-weight: 600;
		}

		.rotate {
			transform: rotate(-90deg);
			transition: all 0.3s ease;
		}

		&.m-open{
			.rotate {
				transform: rotate(0deg);
			}
		}
	}

	.m-slidedown-links {
		list-style: none;
		padding-left: 10px;
		padding-right: 10px;
		width: 100%;
		height: 0%;
		transition: all 0.3s ease;
		display: block;
		// pointer-events: none;
		opacity: 0;
		overflow-y: scroll;
		background-color:  rgba(white, 0.5);

		&.m-open {
			height: 35%;
			opacity: 1;
			// pointer-events: auto;
		}

		h4 {
			color: $primary;
		}
		&#m-profile-links > li > a {
			color: $dark-gray;
		}
		
		li {
			list-style: none;
			padding-top: 10px;
			padding-bottom: 10px;
			&:not(:last-child){
				border-bottom: 1px solid $faint-gray;
			}

			a {
				color: $primary;
				font-size: 1.3em;
				@media(max-width: 320px) {
					font-size: 1.2em;
				}
				font-family: 'Raleway';
				font-weight: 500;

				&:hover {
					text-decoration: none;
				}
			}
			p {
				padding-top: 5px;
				// opacity: 0.7;
				color: $dark-gray;
			}
		}
	}
}

#m-tabs {
	li {
		flex-shrink: 1;
		a {
			background-color: lighten($faint-gray, 8%);
			color: $dark-gray;
			@media(max-width: $grid-float-breakpoint){
				padding-top: 3%;
				padding-bottom: 3%;
			}
			border-bottom: 3px solid $primary;

		}
	}

	.active > a {
		background-color: lighten($faint-gray, 8%);
		border-color: $primary;
		color: $primary;
		border-bottom-color: transparent;
		@media(max-width: $grid-float-breakpoint){
				padding-top: 3%;
				padding-bottom: 3%;
			}
	}
}

#m-panes {
	margin-top: -3px;
	border-top: 3px solid $primary;
	padding-top: 5px;
	max-height: 75%;
	overflow-y: scroll;
	height: inherit;

	ul {
		list-style: none;
		padding-left: 5px;
		li {
			list-style: none;
			border-bottom: 1px solid $faint-gray;
			padding-top: 10px;
			padding-bottom: 10px;
			a {
				font-family: 'Raleway';
				font-weight: 300;
				color: $dark-gray;
				font-size: 1.3em;

				&:hover,
				&:focus,
				&:active {
					text-decoration: none;
				}

			}
		}
	}

}

// Quick action menu

.quick-action-bar {
	background-color: rgba(255,255,255,0.97);
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 55px;
	border-top: 1px solid $faint-gray;
	z-index: 990;

	.icon-btn{
		display: inline-block;
		position: relative;
		padding-left: 5%;

		.unread {
			position: absolute;
			display: block;
			top: -5px;
			right: -10px;
			font-family: 'Raleway';
			font-size: 0.6em;
			font-weight: 800;
			color: #fff;
			background-color: $primary;
			border-radius: 60px;
			width: 20px;
			height: 20px;
			padding: 4px;
			padding-top: 5px;
		}
	}
	.action {
		i {
			color: $primary;
		}
		&:first-child {
			border-right: 1px solid $faint-gray;
		}
		margin-top: 13px;
		font-size: 1.4em;
		font-family: 'Quicksand';
		margin-bottom: 5px;
	}
}

.quick-action-btn {
	background-color: $primary;
	border-radius: 100px;
	width: 60px;
	height: 60px;
	position: fixed;
	bottom: 25px;
	right: 25px;
	padding: 12px;
	color: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	box-shadow: none;
	border: none;
	outline: none;
	z-index: 997;
	font-size: 0.9em;
	box-shadow: 0px 3px 8px rgba(black, 0.5);
}

.quick-action-close-btn {
	background-color: white;
	border-radius: 100px;
	width: 40px;
	height: 40px;
	position: fixed;
	top: 10px;
	right: 15px;
	padding: 1px;
	color: $primary;
	border: 1px solid $primary;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	box-shadow: none;
	outline: none;
	z-index: 997;
	font-size: 0.9em;
	// box-shadow: 0px 3px 8px rgba(black, 0.5);
}

.quick-action-menu {
	width: 100vw;
	height: 0%;
	position: absolute;
	bottom: 0px;
	// top: 0;
	position: fixed;
	opacity: 0;
	z-index: 1031;
	background-color: #fff;
	transition: all 0.3s ease;
	pointer-events: none;
	color: #fff;

	&.overlay-open {
		opacity: 1;
		height: 100%;
		pointer-events: auto;
	}
}

.bottom {
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.quick-action-tabs {
	display: flex;
	> li {
		float: left;
		flex-grow: 1;
		// Make the list-items overlay the bottom border
		margin-top: -1px;
		text-align: center;
		&:not(:last-child){
			// border-right: 2px solid #fff;
		}

		// Actual tabs (as links)
		> a {
			color: $primary;
			background-color: $light-gray;
			box-shadow: inset 0px 14px 6px -12px rgba(black, 0.25);
			&:hover {
			}
		}

	// Active state, and its :hover to override normal :hover
	&.active > a {
		&,
		&:hover,
		&:focus {
			box-shadow: 0px 9px 14px rgba(black, 0.25);
			color: $primary;
			background-color: #fff;
			cursor: default;
			z-index: 999;
			}
		}
	}
	// pulling this in mainly for less shorthand
	&.nav-justified {
		@extend .nav-justified;
		@extend .nav-tabs-justified;
	}
}

#quick-action-panes {
	height: 100%;
	padding-top: 60px;
	z-index: 1005;
	.tab-pane {
		height: 100%;
		background-color: #fff;
		color: black;
		padding: 8px 5%;

		> h3 {
			font-weight: 300;
			margin-left: 5%;
			color: $primary;
			font-size: 1.7em;
			font-family: 'Quicksand';
			position: absolute;
			top: -3px;
			left: 5px;

			i {
				padding-bottom: 3px;
			}

		}

	}

	.m-scrollable-links {
		list-style: none;
		padding-left: 10px;
		padding-right: 10px;
		color: #000;
		transition: all 0.3s ease;
		display: block;
		height: 90%;
		overflow-y: scroll;

		&.m-open {
			height: 55%;
			opacity: 1;
			pointer-events: auto;
		}

		h4 {
			color: #000;
		}
		li {
			list-style: none;
			padding-top: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid rgba(black, 0.2);

			a {
				color: #000;
				font-size: 1.2em;
				font-family: 'Raleway';
				font-weight: 500;
				position: relative;
				display: block;

				.align-right {
					position: absolute;
					right: 0;
				}

				// Item count
				p {
					padding: 3px 0px !important;
					margin: 0;
					opacity: 0.7;
					color: $dark-gray;
				}
				
				// Cart total
				h3.cart-total {
					font-size: 1.1em;
					position: static;
					font-weight: 500;
					display: block;
					color: black;
					padding: 3px 0px !important;
					margin: 0;
					line-height: 24px;

					span {
						color: $gray;
						font-size: 0.9em;
						text-transform: uppercase;
						letter-spacing: 1px;
					}
				}

				&:focus, &:active, &:hover {
					text-decoration: none;
				}
				
			}
			


			.cart-status {
				background-color: $light-gray;
				border: 1px solid darken($light-gray, 5%);
				border-radius: 3px;
				padding: 15px;
				padding-top: 0px;

				h4 {
					margin-bottom: 15px;
				}
			}

			.cart-status-bar {
				width: 90%;
				height: 5px;
				position: relative;
				background-color: $gray;
				// display: inline-block;

				ul {
					padding-left: 0px;
				}

				ul li {
					background-color: $gray;
					border-radius: 50%;
					height: 15px;
					width: 15px;
					display: inline-table;
					position: absolute;
					left: -2px;
					bottom: -5px;
					margin: 0;
					padding: 0px;
					z-index: 55;

					&.active{
							background-color: $primary;
						}


					&:nth-child(2) {
						margin-left: 50%;

						&.active{
							background-color: $primary;
						}
					}

					&:nth-child(3) {
						margin-left: 100%;
						&.active{
							background-color: $primary;
						}
					}
				}

				.status-bar{
					height: 5px;
					background-color: $primary;
					width: 60px;
					position: relative;
					z-index: 5;
				}

			}

		}
	}
}

body {
	overflow: auto;
	height: 100%;
}

.m-search-overlay {
	width: 100vw;
	height: 0%;
	top: 0;
	position: fixed;
	opacity: 0;
	z-index: 75;
	background-color: lighten($faint-gray, 8%);
	transition: all 0.5s ease;
	padding: 20px;
	padding-top: 80px;
	pointer-events: none;
	color: $primary;
	display: none;

	&.overlay-open {
		height: 100%;
		display: static;
		opacity: 0.98;
		pointer-events: auto;
	}

	.input-search {
		border: 0;
		background-color: rgba(white, 0.25);
		width: 100%;
		padding: 10px;
		margin: 0px 0px 30px 0px;
		transition: all 0.3s ease;
		box-shadow: 0;
		font-size: 1em;
		font-weight: 300;
		color: white;
		outline: none;
		border-bottom: 1px solid $faint-gray;

		&:focus {
			color: $dark-gray;
			background-color: #fff;
			border-bottom-color: $primary;
			box-shadow: none;
		}
	}
}
