.navbar-default {
	// background-color: #fff;
	border: none !important;
	background-color: lighten($faint-gray, 8%);
	border-bottom: 1px solid $faint-gray !important;
	border-radius: 0px;

	h2 {
		font-family: 'Quicksand';
		font-weight: 300;
		margin-top: 10px;
		letter-spacing: -1px;
	}

	h3 {
		color: $med-gray;
		text-transform: uppercase;
		font-size: 1.4em;
		font-weight: 700;
	}
}

.navbar-upper {
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	        flex-grow: 1;
	justify-content: space-between;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 10px;
	margin-top: 10px;

	.navbar-logo {
		max-height: 50px;
		width: auto;
	}

	.nav-btn {
		font-weight: 600;
		border: 0;
		vertical-align: middle;
		border-radius: 25px;
		margin-right: 15px;
		transition: all 0.3s ease;

		&:hover {
			// background-color: rgba(white, 0.25);
		}
	}

	.account-info {
		// padding-top: 5px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		        flex-grow: 1;
		width: auto;
		color: $primary;
		font-size: 1.2em;	
		font-weight: 500;
		font-family: 'Raleway';
		padding-top: 5px;
		padding-bottom: 10px;

		span {
			padding-top: 6px;
		}

		@media (max-width: $screen-sm){
			-webkit-box-flex: 2;
			-ms-flex-positive: 2;
			flex-grow: 2;
		}



		.icon-btn{
			display: inline-block;
			position: relative;
			padding-left: 5%;

			.unread {
				position: absolute;
				display: block;
				top: -8px;
				right: -15px;
				font-family: 'Raleway';
				font-size: 0.4em;
				font-weight: 800;
				color: $primary;
				background-color: rgba(white, 0.9);
				border-radius: 60px;
				width: 25px;
				height: 25px;
				padding: 4px;
				padding-top: 5px;
			}
		}
		.profile-name-btn {
			position: relative;
			display: inline-block;
			padding-right: 5%;
			border-right: 1px solid $faint-gray;
			float: right;
			text-align: right;

		}
	}

	.navbar-search {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-preferred-size: 180px;
		    flex-basis: 180px;
		margin-bottom: 10px !important;
		margin-top: 5px;	
		padding-left: 10px;
		padding-right: 10px;
		
		@media (min-width: $screen-md){
			-webkit-box-flex: 10;
			-ms-flex-positive: 10;
			flex-grow: 10;
		}

		@media (max-width: $screen-sm){
			-webkit-box-flex: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
		}

		.btn-search {
			border-radius: 4px;
			border-top-right-radius: 25px;
			border-bottom-right-radius: 25px;
			width: 45px;
			height: 40px;
			border: 0;
			background-color: rgba(white, 1);
			// box-shadow: 0px 2px 5px rgba(black, 0.25);
			transition: all 0.3s ease;
			color: $med-gray;
			padding-left: 0px;
			padding-bottom: 3px;
			outline: none;
			font-weight: 900;

			i {
				color: $primary;
			}

			&:hover {
				// background-color: $primary;
				color: $primary;
			}
		}

		.search-group {
			width: 100%;
			margin-bottom: 0;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;

			.input-search {
				-webkit-box-flex: 1;
				-ms-flex-positive: 1;
				flex-grow: 1;
				border: 0;
				background-color: rgba(white, 1);
				// box-shadow: 0px 2px 5px rgba(black, 0.25);
				padding: 5px;
				padding-left: 15px;
				margin: 0px 0px 0px 10px;
				border-radius: 50px;
				border-top-right-radius: 0px;
				border-bottom-right-radius: 0px;
				transition: all 0.3s ease;
				box-shadow: 0;
				font-size: 1em;
				font-weight: 300;
				color: white;
				outline: none;

				&::webkit-input-placeholder,
				&:-ms-input-placeholder,
				&::-moz-placeholder,
				&:-moz-placeholder {
					color: red;
				}

				&:focus {
					color: $dark-gray;
					background-color: #fff;
					box-shadow: none;
				}
			}
		}
	}
}

.nav-lower-tabs {

	> li {
		float: left;
		box-shadow: 0px -2px 3px hsl(0, 0%, 92%);
		margin-right: 10px;
		background-color:  darken($light-gray, 4%);

		// Actual tabs (as links)
		> a {
			font-family: 'Quicksand';
			font-weight: 600;
			text-transform: uppercase;
			font-size: 18px;
			margin-right: 2px;
			line-height: $line-height-base;
			padding: 10px 70px 10px 70px;
			border-top-right-radius: 4px;
			border-top-left-radius: 4px;
			color: $med-gray;
			transition: all 0.3s ease;
			&:hover {
				background-color: rgba(white, 0.35);
				// border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
				// border-top-left-radius: 5px;
				// border-top-right-radius: 5px;
		}
	}

	// Active state, and its :hover to override normal :hover
	&.active > a {
		&,
		&:hover,
		&:focus {
			// color: $primary;
			color: $primary;
			background-color: #fff;
			// border: 1px solid $nav-tabs-active-link-hover-border-color;
			// border-bottom-color: transparent;
			cursor: default;
			// border-top-left-radius: 5px;
			// border-top-right-radius: 5px;
			// box-shadow: 0px -3px 4px rgba(0,0,0,0.1);
			}
		}
	}
	// pulling this in mainly for less shorthand
	&.nav-justified {
		@extend .nav-justified;
		@extend .nav-tabs-justified;
	}

	.nav-option {
		display: inline-block;
		float: left;
		padding: 6px 25px 6px 10px;
		font-family: 'Raleway';
		font-weight: 800;
		font-size: 14px;
		color: $primary;
		background-color: #fff;
		margin-top: 5px;
		margin-bottom: 3px;
		margin-right: 50px;
		margin-left: 15px;
		position: relative;

		&:after{
			display: block;
			content: '';
			width: 0;
			height: 0;
			border-top: 16px solid transparent;
			border-bottom: 16px solid transparent;
			border-left: 16px solid #fff;
			position: absolute;
			bottom: 0;
			right: -16px;
		}
	}
}

.navbar-lower {
	.bar {
		background-color: #fff;
		box-shadow: 0px -2px 3px hsl(0, 0%, 92%);
	}
}

.nav-lower-pills {
	padding-top: 5px;
	padding-bottom: 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #fff;

	> li {
		-ms-flex-negative: 1;
		flex-shrink: 1;
		-ms-flex-preferred-size: 200px;
		    flex-basis: 200px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;


		> a {
			border: 0;
			width: 99%;
			display: -webkit-inline-box;
			display: -ms-inline-flexbox;
			display: inline-flex;
			-ms-flex-negative: 0;
			    flex-shrink: 0;
			background-color: #fff;
			color: $med-gray;
			font-family: 'Quicksand';
			font-weight: 800;
			font-size: 18px;
			justify-content: center;
			position: relative;
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
			white-space: nowrap;

			&:after {
				content: '';
				position: absolute;
				height: 20px;
				width: 1px;
				background-color: rgba(black, 0.2);
				right: -1px;
			}

			&:hover,
			&:focus {
				background-color: transparent;
				color: $primary;
			}
		}

		+ li {
			margin-left: 2px;
		}

		.caret {
			margin-top: 8px;
		}

		.dropdown-menu.fade{
			opacity: 0;
			display: block;
			transition: all 0.3s ease;
			transform: translateY(-25px);
			pointer-events: none;
		}

		.dropdown-menu {
			border-radius: 3px;
			border: 1px solid $faint-gray;
			box-shadow: 2px 0px 8px rgba(0,0,0,0.12);
			padding: 0;
			left: -150px;
			width: 700px;
			font-family: 'Raleway';
			opacity: 0;
			transition: all 0.3s ease;
			pointer-events: none;

			.row {
				margin-left: 0;
				margin-right: 0;
			}

			.side {
				padding: 25px;

				.main-link {
					color: $dark-gray;
					font-size: 18px;
					font-weight: 500;
					margin-top: 5px;
					margin-bottom: 25px;
					display: block;

					&:hover{
						text-decoration: none;
					}
				}

				ul {
					list-style: none;
					padding-left: 0;

					li {
						padding-bottom: 5px;
						font-size: 16px;
						border-bottom: 1px solid rgba($faint-gray, 0.5);
						margin-bottom: 5px;

						a {
							color: #616161;
							transition: all 0.3s ease;

							&:hover{
								text-decoration: none;
								color: $primary;
							}
						}

					}
				}
			}

			.main {
				background-color: $light-gray;
				padding: 15px;
			}

		}

		// Active state
		&.active > a {
			&,
			&:hover,
			&:focus {
				color: $primary;
			}
		}
	}

	> .open {

		> a {
			background-color: transparent;

			&:hover,
			&:focus {
				background-color: transparent;
			}
		}


		> .dropdown-menu.fade{
			opacity: 1;
			display: block;
			transform: translateY(0px);
			pointer-events: auto;

		}
	}
}


.icon-dropdown-box {
	&#profile-links{
		right: -18px;
		display: none;
	}

	&#notifications{
		right: -36px;
		display: none;
	}

	&#shopping-carts{
		right: -36px;
		display: none;
	}

	&#deliveries {
		right: -36px;
		display: none;
	}


	position: absolute;
	z-index: 1000;
	background: #fff;
	border: 1px solid $faint-gray;
	top: 50px;
	width: 350px;
	border-radius: 3px;
	padding: 15px;
	padding-top: 10px;
	font-size: 14px;
	box-shadow: 2px 0px 8px rgba(0,0,0,0.12);
	font-family: 'Raleway';
	
	&:after,
	&:before {
		bottom: 100%;
		left: 85%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:after{
		border-color: transparent;
		border-bottom-color: #fff;
		border-width: 15px;
		margin-left: -15px;
	}

	&:before {
		border-color: transparent;
		border-bottom-color: $faint-gray;
		border-width: 16px;
		margin-left: -16px;
	}

	.close-btn{
		i {
			padding-right: 1% !important;
		}

		font-size: 1.5em;
		margin-right: -5px;
		margin-top: 5px;
		cursor: hand; 
		cursor: pointer;
		color: $med-gray;
	}

	h4 {
		margin-top: -20px;
		color: $primary;
	}
	
	h4.subdued {
		font-family: 'Raleway';
		font-weight: 900;
		text-transform: uppercase;
		font-size: 1em;
		color: $gray;

		&:after{
			content: '';
			position: relative;
			width: 75px;
			height: 4px;
			background-color: $gray;
			display: block;
			margin-top: 5px;
		}
	}

	ul {
		list-style-type: none;
		color: $dark-gray;
		padding-left: 5px;
		li {
			a {
				i {
					font-size: 1.6em;
				}
				// width: 75%;
				display: block;
				padding-bottom: 8px;
				margin-bottom: 8px;
				border-bottom: 1px solid $faint-gray;
				text-decoration: none;
				transition: all 0.3s ease;
				color: $dark-gray;
				font-weight: 600;

				&:hover {
					color: $primary;
				}
			}
		}
	}
}
