.info-bar {
	background: linear-gradient(135deg, rgba(0,198,255,1) 0%, rgba(0,114,255,1) 100%);
	border-radius: 4px;

	h1 {
		font-size: 2.5em;
		color: white;

		small {
			color: white;
		}
	}
}

.sign-up {
	background: linear-gradient(135deg, rgba(0,198,255,1) 0%, rgba(0,114,255,1) 100%);
	// height: 150px;
	// margin: -25px;

	&.sticky {
		position: fixed;
		bottom: 0px;
		z-index: 15;
		width: 100%;
		background: linear-gradient(135deg, rgba(0,198,255,0.98) 0%, rgba(0,114,255,0.98) 100%);

		@media(max-width: $grid-float-breakpoint-max){
			h1 {
				font-size: 1.3em;
			}

			.btn-white {
				margin-top: 5px;
			}
		}
	}



	h1 {
		position: relative;
		top: 50%;
		font-weight: 100px;
		color: #fff;
		font-size: 3em;
	}
}

.btn-white {
	border-radius: 50px;
	font-weight: 400;
	color: white;
	background: transparent;
	border: 1px solid white;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 0.3s ease;
	margin-top: 25px;
	box-shadow: 0px 0px;

	&:hover,
	&:focus,
	&:active {
		background-color: white;
		color: $primary !important;
	}
}

.business {
	.section-title {
		font-family: 'Source Sans Pro';
		font-weight: 300;
		// font-size: 3em;
		color: $primary;
		position: relative;
		margin: 50px;

		&:after {
			content: '';
			width: 100px;
			position: absolute;
			height: 2px;
			bottom: -20px;
			left: 47%;
			background-color: $faint-gray;
		}
	}

	p {
		font-size: 1.3em;
		line-height: 30px;
		font-weight: 300;
		color: rgba(0,0,0,0.7);
		margin: 25px 0px;
	}

	i {
		font-size: 8em;
		color: $primary;
	}

	.page-title {
		margin-top: 100px;
		font-weight: 100;
		font-size: 4em;
		@media(max-width: $grid-float-breakpoint-max){
			font-size: 2.5em;
		}
		color: rgba(0, 0, 0, 0.95);
	}

	.page-subtitle {
		font-weight: 300;
		font-size: 2.2em;
		@media(max-width: $grid-float-breakpoint-max){
			font-size: 1.8em;
		}

	}

	h2 {
		font-weight: 300;
		font-size: 2.8em;
		color: $primary;
	}
	
	h3 {
		font-weight: 500;
		color: #000;
	}

	.welcome {
		margin-top: -20px;
		background-image: url('../images/register/business-header.png');
		background-size: cover;
		@media(max-width: $grid-float-breakpoint-max){
			// background-position: 75% 200px;
			max-height: 700px;
		}
		background-position: center;
		height: 800px;
	}
	
	section {
		border-bottom: 1px solid $faint-gray;
		padding-bottom: 25px;
		// margin-bottom: 25px;

		.row > .col-md-4:not(:last-child) {
			@media(min-width: $grid-float-breakpoint-max){
				border-right: 1px solid $faint-gray;
			}
		}
	}
	
	// http://materializecss.com/getting-started.html
	.parallax-container {
		height: 350px;
		overflow: hidden;
		position: relative;
		@media(max-width: $grid-float-breakpoint-max){
			min-height: 100px;
			height: auto;
		}

		.parallax {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: -1;

			img {
				display: none;
				position: absolute;
				left: 50%;
				bottom: 0;
				// min-width: 100%;
				width: 100%;
				// min-height: 100%;
				height: auto;
				-webkit-transform: translate3d(0,0,0);				
				transform: translate3d(0,0,0);

			}
		}
	}

	.img-break {
		margin: 0px;
		margin-top: -25px;
		padding: 0px;

		&#phone {
			// background-image: url("../images/bar-phone.png");
			background-size: cover;
			min-height: 350px;
		}

		&#mobile-usage {
			// background-image: url("../images/mobile-usage.png");
			background-size: cover;
			min-height: 450px;
		}
	}

	

	.btn-inverted {
		border-radius: 50px;
		font-weight: 400;
		color: $primary;
		border: 1px solid $primary;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 2px;
		transition: all 0.3s ease;
		margin-top: 25px;

		&:hover,
		&:focus,
		&:active {
			background-color: #fff;
			border-color: transparent;
			box-shadow: 0px 0px;
		}
	}

	

	ul {
		list-style-type: none;

		li {
			i {
				font-size: 2em;
				padding-right: 10px;
			}
			font-size: 1.2em;
			font-weight: 300;
			line-height: 28px;
			padding-bottom: 15px;
			margin-bottom: 15px;
			border-bottom: 1px solid rgba($faint-gray, 0.5);
		}
	}

	.pricing-table-container {
		padding-left: 10%;
		padding-right: 10%;
		@media(min-width: $grid-float-breakpoint-max){
			float: left;
		}
		width: 100%;
		.pricing-table {
			width: 25%;
			border: 1px solid $faint-gray;
			padding: 0px;
			@media(max-width: $grid-float-breakpoint-max){
				width: 80%;
				margin: 25px;
			}
			@media(min-width: $grid-float-breakpoint-max){
				display: inline-block;
			}
			margin: 0 25px;

			>.header {
				background-color: $primary;
				color: white;
				padding: 15px;
				font-weight: 500;
				font-size: 1.8em;
				span {
					font-size: 0.6em;
					display: block;
				}
			}
			>.body {
				padding: 15px;
				ul {
					font-size: 1em;
					padding-left: 0px;
					font-weight: 500;
					li {
						font-size: 1.1em;
						padding-bottom: 10px;
						span {
							font-weight: 500;
						}
					}
				}
				
			}
			>.footer {
				background-color: $light-gray;
				padding: 15px;
				h2 {
					position: relative;
					margin-left: -20px;
					span {
						position: absolute;
						color: $dark-gray;
						font-size: 0.4em;
						padding-left: 5px;
						padding-top: 10px;
					}
				}
			}

		}
	}
	
}