.unslider-arrow {
	&, &:active, &:hover, &:focus {
		text-decoration: none;
		color: #fff;
		font-weight: 500;
		font-family: 'Quicksand';
	}

	margin-top: 15px;
	margin-bottom: 50px;
	background-color: $primary;
	border-radius: 55px;
	display: block;
	padding: 5px 8px;

	&.next {
		right: 15% !important;
	}

	&.prev {
		left: 15% !important;
	}
}



.frontpage-slider {

	ul > li {
		position: relative;
		min-height: 150px;
		list-style: none;
		// min-width: 100%;
		.slide-content {
			position: absolute;
			background-color: rgba(white, 0.9);
			border-radius: 3px;
			padding: 15px;
			max-width: 55%;
			@media(max-width: $grid-float-breakpoint-max){
				position: static;
				width: 100% !important;
				max-width: 100% !important;
			}
			
			@media(min-width: $grid-float-breakpoint-max){
				left: 10%;
				top: 5%;
			}

			h1 {
				color: $dark-gray;
				margin-top: 0px;
				@media(max-width: $grid-float-breakpoint-max){
					font-size: 1.35em;
					display: block;
					width: 100%;
				}
			}

			h3 {
				color: $med-gray;
				font-weight: 500;
				@media(max-width: $grid-float-breakpoint-max){
					display: block;
					width: 100%;
				}
			}
		}
	}
}