// Colours
$vlight-gray:			#FCFCFC;
$light-gray:			#FAFAFA;
$faint-gray:			#E0E0E0;
$gray:				#BDBDBD;
$med-gray:			#757575;
$dark-gray:			#424242;
$primary:			#005cf7;
$secondary:			#FF3F2B;
// $primary:			#0D3D92;
// $primary:			#536DFE;
// $primary:			#455A90

$bg-color:			#fff;
// $bg-color: 			#F5F5F5;

// Status colours
$green:				#00E676;
$blue:				#2962FF;
$orange: 			#FF5722;
$red:				#C62828;