// Vionnet 
// Antebox Business Templates

// Colour variables
$colour1: #7CACC2;
$colour2: #A0C8DC;
$colour3: #D7D7CD;
$colour4: #F1F1F1;
$colour5: #5B5B5B;

$dg-gray:	rgb(90,90,90);

// Fonts
$headings-font:	'Oxygen';


.header {
	background-color: #fff;
	@media(max-width: $screen-sm){
		height: 88px;
	}

	box-shadow: 0px 0px 10px $colour3;
	@media(max-width: $grid-float-breakpoint-max){
		// margin-top: 65px;
		margin-top: -20px;
		padding: 15px 10px;
	}
	@media(min-width: $grid-float-breakpoint-max){
		padding: 25px 15px;
		margin-top: -20px;
		z-index: 1;
		&.fixed {
			margin-top: 0px;
		}
	}
	display: block;
	position: relative;

	&.fixed {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 99;
		margin-top: 0px;
	}

	.brand-name {
		font-family: $headings-font;
		font-size: 2.2em;
		@media(min-width: $grid-float-breakpoint-max){
			font-size: 3em;
		}
		@media(max-width: $screen-sm){
			font-size: 3.4vh;
		}
		color: $dg-gray;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 300;
		margin-top: 0px;
		// display: inline-block;
	}

	.sub-title {
		font-family: $headings-font;
		letter-spacing: 5px;
		font-weight: 100;
		text-transform: uppercase;
		font-size: 0.8em;
		color: $colour1;
	}

	.header-container {
		display: block;
		float: left;
		@media(min-width: $grid-float-breakpoint-max){
			padding-left: 20px;	
		}

		&:nth-child(2) {
			width: 75%;
		}
	}
}


.slide-in-nav {
	position: absolute;
	display: block;
	transition: all 0.3s ease;
	left: 0px;
	background-color: lighten($colour3, 10%);
	box-shadow: 3px 3px 3px rgba(black, 0.15);
	z-index:  105;

	@media(max-width: $grid-float-breakpoint-max){
		top: 88px;
		width: 100%;
		padding: 15px;
	}
	@media(min-width: $grid-float-breakpoint-max){
		width: 250px;
		top: 121px;
		padding: 25px;
	}
	&.closed {
		@media(min-width: $grid-float-breakpoint-max){
			-webkit-transform: translateX(-450px);
			transform: translateX(-450px);		
		}
		@media(max-width: $grid-float-breakpoint-max){
			-webkit-transform: translateX(-120%);
			transform: translateX(-120%);
		}
	}
	

	ul {
		padding-left: 0px;
		text-transform: uppercase;
		list-style-type: none;
		li {
			padding: 10px 0px;
			font-weight: 700;
			a {
				color: $dg-gray;
				transition: all 0.3s ease;

				&:hover,
				&:focus,
				&:active {
					color: black;
					text-decoration: none;
				}
			}

			> ul {
				padding-left: 25px;
				li {
					a {
						color: $colour1;
					}
				}
			}
		}
	}

}

.main-slider {
	z-index: 0;
	@media(min-width: $grid-float-breakpoint-max){
		margin-bottom: 50px;
	}
	.item {
		width: 100%;
		max-height: 600px;

		overflow: hidden;
		position: relative;


		h1 {
			margin: 0;
			position: absolute;
			// width: 100%;
			top: 50%;
			background-color: $colour3;
			color: #fff;
			padding: 15px;
			text-align: left;
			left: 8%;
			z-index: 60;
			@media(max-width: $grid-float-breakpoint-max){
				position: static;
				font-size: 1.8em;

				span {
					font-size: 0.6em !important;
				}
			}

			span {
				line-height: 32px;
				font-size: 0.4em;
				display: block;
			}
		}

		img {
			width: 100%;
			height: auto;
			// @media(min-width: $grid-float-breakpoint-max){
			// 	transform: translateY(-150px);
			// }
		}
	}
}

.template {
	background-color: rgba($colour2, 0.1);

	h1, h2, h3, h4, h5 {
		font-family: $headings-font !important;
		font-weight: 400;
		color: rgba(0,0,0,0.60) !important;
		text-transform: uppercase;
		letter-spacing: 2px;

	}


	p {
		font-family: 'Raleway';
		font-weight: 300;
		font-size: 1.25em;
		color: rgba(black, 0.7);
		line-height: 29px;
		margin-bottom: 20px;

		&.s-10em {
			font-size: 1em !important;
		}
	}

	ul.widget {
		list-style-type: square;
		> li > a {
			padding-bottom: 10px;
			font-family: 'Raleway';
			font-weight: 300;
			font-size: 1em;
			color: rgba(black, 0.7);
			transition: all 0.3s ease;
			display: block;

			&:active, &:focus, &:hover {
				text-decoration: none;
				color: rgba(black, 0.45);
			}
		}
	}

	
	.featured {
		margin: 50px 0px;
		background-color: #fff;
		padding: 15px 0px;

		@media(min-width: $grid-float-breakpoint-max){
			padding: 25px;
		}

		.ad {
			position: relative;
			margin-bottom: 15px;
			max-height: 280px;
			overflow-y: hidden;
			
			img {
				width: 100% !important;
				height: auto !important;
			}

			h3 {
				margin: 0;
				position: absolute;
				// width: 100%;
				top: 50%;
				background-color: #fff;
				padding: 15px;
				text-align: center;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		// Featured products
		// OwlCarousel item
		.item {
			padding: 15px;
			min-height: 325px;
			max-width: 325px;

			a, a:hover, a:focus, a:active {
				text-decoration: none;
			}

			h3 {
				font-size: 1.2em;
				font-weight: 700;
			}
			p {
				font-size: 1.1em;
				line-height: 22px;
				margin-bottom: 5px;
			}

			h4 {
				font-weight: 700;
				font-size: 1.6em;
				color: black;
			}			
		}
	}
	
	.page-title {
		position: relative;
		height: 95px;
		@media(min-width: $grid-float-breakpoint-max){
			height: 150px;
		}
		overflow-y: hidden;
		background-color: $colour1;

		h1 {
			color: $dg-gray;
			position: absolute;
			margin-top: 20px;
			margin-left: 25px;
			padding: 15px;
			font-size: 1.8em;
			@media(min-width: $grid-float-breakpoint-max){
				padding: 25px;
				margin-top: 30px;
				margin-left: 50px;
				font-size: 2.5em;
			}
			background-color: #fff;
			z-index: 0;
		}
	}
	.pagination {
		margin-left: 15px;
		li {	
			a {
				font-family: $headings-font;
				font-weight: 700;
				font-size: 1.2em;
				color: $colour1;
			}

			&.active > a {
				background-color: $colour1;
				color: #fff;
				border-color: $colour1;
			}

			&:first-child {
				a {
					border-top-left-radius: 0px;
					border-bottom-left-radius: 0px;
				}
			}
			&:last-child {
				a {
					border-top-right-radius: 0px;
					border-bottom-right-radius: 0px;
				}
			}
		}
	}

	
} // .template

