.template {
	.btn {
		font-family: $headings-font;
		border: 1px solid;
		background-color: transparent;
		border-radius: 0px;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 0.8em;

		&:hover,
		&:focus,
		&:active {
			border: 1px solid;
		}
	}

	.btn-primary {
		border-color:  $colour1 !important;
		color: $colour1;
		padding: 5px;
		i {
			font-size: 1.4em;
			vertical-align: baseline;
			
		}

		&:hover,
		&:focus,
		&:active {
			border-color:  $colour1!important;
			background-color: $colour1;
			color: #fff;
		}

	}
	
}
