<div class="page-title">
	<h1 class="text-center">
		Products
	</h1>			
</div>

<div class="container" ng-controller="ProductsController as p">	
	<!-- Sidebar -->
	<products-filter></products-filter>
	<!-- Products grid  -->
	<products-grid></products-grid>		
</div>