<div class="page-title">
	<h1 class="text-center">
		Stores
	</h1>			
</div>
<div class="container">
	<div class="row">
		<br>
		<div ng-show="h.business.stores" class="col-md-12 ">
			<p>
				Have a look at all our stores:
			</p>
		</div>
		<div ng-hide="h.business.stores" class="col-md-12">
			<p>
				Unfortunately, we don't currently have any stores listed! Please check back later!
			</p>
		</div>
		<div ng-repeat="store in h.business.stores" class="row ">
			<div class="col-md-5 t-panel">
				<h3 class="c2">
					[[store.name]]
				</h3>
				<p>
					[[store.address]] <br>
					[[store.city]] <br>
					[[store.state]] <br>
					[[store.zip_code]] <br>
					[[store.country]]
				</p>
			</div>
		</div>
	</div>
	<br>
</div>