// Agnolotti 
// Antebox Business Templates

// Colour variables
$colour1: #591528;
$colour2: #EBB300;
$colour3: #2A4700;
$colour4: #D1D6A4;
$colour5: #C72903;


.header {
	margin-top: -20px;
	min-height: 120px;
	padding: 20px 20px;
	@media(max-width: $grid-float-breakpoint-max){
		padding-top: calc(66px + 25px);
	}
	display: block;

	.brand-name {
		h1 {
			font-family: 'Abril Fatface' !important;
			font-size: 3.8em;
			color: $colour1;
			border-bottom: 1px solid rgba(black, 0.1);
			display: inline-block
		}

	}
	.sub-title {
		font-family: 'Josefin Sans';
		letter-spacing: 5px;
		text-transform: uppercase;
		font-size: 1em;
		color: $colour2;
		
	}
}

.menu {
	background-color: rgba($colour2, 0.2);

	.nav-menu {
		margin:  10px 10%;
		@media(max-width: $grid-float-breakpoint-max){
			margin: 10px 0%;
		}
		ul {
			list-style: none;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;
			-ms-flex-wrap: nowrap;
			    flex-wrap: nowrap;
			-webkit-box-orient:  horizontal;-webkit-box-direction:  normal;-ms-flex-direction:  row;flex-direction:  row;
			margin-bottom: 0px;
			padding-left: 0px;
			li {
				float: left;
				text-align: center;
				-webkit-box-flex: 5;-ms-flex-positive: 5;flex-grow: 5;
				&:not(:last-child) {
					border-right: 1px solid rgba($colour1, 0.25);
				}
			}
			li > a {
				font-family: 'Josefin Sans';
				font-weight: 800;
				font-size: 1.8em;
				@media(max-width: 400px){
					font-size: 1.15em;
				}
				color: $colour1;
				transition: all 0.3s ease;

				&:hover,
				&:active,
				&:focus {
					text-decoration: none;
					color: lighten($colour1, 30%);
				}
			}
		}
	}
}

.main-slider {
	@media(min-width: $grid-float-breakpoint-max){
		margin-bottom: 50px;
	}
	.item {
		width: 100%;
		max-height: 600px;
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
			@media(min-width: $grid-float-breakpoint-max){
				transform: translateY(-150px);
			}
		}
	}
}

.template {
	h1, h2, h3, h4, h5 {
		font-family: 'Josefin Sans';
		font-weight: 800;
		color: #000;
	}

	p {
		font-family: 'Raleway';
		font-weight: 300i;
		font-size: 1.25em;
		color: rgba(black, 0.7);
		line-height: 29px;
		margin-bottom: 20px;
	}

	.intro {
		font-size: 6em;
		@media(max-width: $grid-float-breakpoint-max){
			font-size: 3em;
		}
		font-weight: 300;
	}
	
}

.featured {
	background-color: rgba($colour2, 0.05);
	padding: 50px 10px;
	margin-bottom: 50px;
}

.featured-products {
	.item {
		background-color: rgba($colour2, 0.12);
		padding: 15px;
		min-height: 445px;

		h3 {
			font-size: 1.8em;
		}
		p {
			font-size: 1.1em;
			line-height: 22px;
			margin-bottom: 5px;
		}

		h4 {
			font-weight: 700;
			font-size: 1.6em;
		}

		.btn-primary {
			background-color: #000;
			border-radius: 0px;
			color: #fff;
			font-family: 'Josefin Sans';
			font-weight: 700;
			border: 0px;
			transition: all 0.3s ease;

			&:hover,
			&:focus,
			&:active {
				background-color: #fff;
				color: #000;
			}
		}
	}
}