.nav-logo {
	// margin-top: 15px;
	// margin-left: 15px;
}

.table_scroll {
	overflow: scroll;
	min-width: 100%;
	@media(max-width: $grid-float-breakpoint-max){
		max-width: 300px;		
	}
}

.dashboard-table {
	tbody {
		tr {
			td {
				vertical-align: middle;
				text-align: center;
			}
		}
	}
}

.large-radio {
	margin: 10px 0px;
	padding: 20px 10px;
	border: 1px solid #E0E0E0;
	border-radius: 3px;
	display: block;
	font-weight: 700;
	
	span {
		font-size: 1em;
		font-weight: 400;
	}

	&:hover, &:focus {
		border-color: #E0E0E0;
	}

	&+input[type="radio"]:checked {
		border-color: darkblue;
	}


	input[type="radio"] {
		display: inline-block !important;
		width: inherit !important;
	}
}

ul.chat-window {
	margin-right: -15px;
	margin-top: -15px;
	margin-bottom: -15px;
	@media(max-width: $grid-float-breakpoint-max){
		margin-top: 5px;
	}
	padding: 15px;
	list-style: none;
	padding-left: 0px;
	min-height: 395px;
	max-height: 395px;
	overflow-y: scroll;


	li {
		display: block;
		padding: 0px;
		margin: 0px;
		margin-bottom: 20px;

		a {
			margin-top: 15px;
			margin-bottom: 15px;
			
		}
		
		.timestamp {
			padding-top: 15px;
			font-size: 0.9em;
			color: $gray;
		}
	}

	li.left {
		text-align: left;
		.message {
			padding: 10px;
			border-radius: 15px;
			background-color: #0275d8;
			color: #fff;
			display: inline-block;

		}
	}

	li.announcement {
		text-align: center;
		.message {
			padding: 10px;
			border-radius: 15px;
			background-color: #5cb85c;
			color: white;
			word-wrap: pre-line;
			display: inline-block;
		}
		margin-top: 10px;
		margin-bottom: 10px;
	}

	li.right {
		text-align: right;
		.message {
			padding: 10px;
			border-radius: 15px;
			background-color: rgb(205,205,205);
			color: black;
			display: inline-block;
		}
	}
}

.msg-window {
	margin-right: -15px;
	margin-left: -15px;
	margin-bottom: -15px;
	margin-top: 5px;
	padding: 15px;
	input[type="text"] {
		border: 1px solid rgb(75,75,75) !important;
		margin: 0px !important;
		font-size: 1em !important;
		width: 100%;
		padding: 10px;
	}
	button {
		border-radius: 5px;
		width: 100%;
	}
}

.pricing-table-container {
	padding-left: 10%;
	padding-right: 10%;
	@media(min-width: $grid-float-breakpoint-max){
		float: left;
	}
	width: 100%;
	.pricing-table {
		width: 25%;
		border: 1px solid #E0E0E0;
		padding: 0px;
		@media(max-width: $grid-float-breakpoint-max){
			width: 80%;
			margin: 25px;
		}
		@media(min-width: $grid-float-breakpoint-max){
			display: inline-block;
		}
		margin: 0 25px;

		>.header {
			background-color: #73879C;
			color: white;
			padding: 15px;
			font-weight: 500;
			font-size: 1.8em;
			span {
				font-size: 0.6em;
				display: block;
			}
		}
		>.body {
			padding: 15px;
			ul {
				font-size: 1em;
				padding-left: 0px;
				font-weight: 500;
				list-style: none;

				li {
					font-size: 1.1em;
					padding-bottom: 10px;
					span {
						font-weight: 500;
					}
				}
			}
			
		}
		>.footer {
			background-color: #E4E4E4;
			padding: 15px;
			h2 {
				position: relative;
				margin-left: -20px;
				span {
					position: absolute;
					color: #A4A4A4;
					font-size: 0.8em;
					padding-left: 5px;
					padding-top: 3px;
				}
			}
		}

	}
}