<div id="main-slider" class="main-slider owl-carousel owl-theme">
	<div class="item">
		<h1>
			[[h.fields.slider_1_heading]]
			<span>
				[[h.fields.slider_1_p]]
			</span>
		</h1>
		<img src="/storage/[[h.fields.slider_1_img]]">

	</div>

	<div class="item">
		<h1>
			[[h.fields.slider_2_heading]]
			<span>
				[[h.fields.slider_2_p]]
			</span>
		</h1>
		<img src="/storage/[[h.fields.slider_2_img]]">
	</div>

	<div class="item">
		<h1>
			[[h.fields.slider_3_heading]]
			<span>
				[[h.fields.slider_3_p]]
			</span>
		</h1>
		<img src="/storage/[[h.fields.slider_3_img]]">
	</div>
</div>	